<ion-header>
  <ion-toolbar>
    <div class="header-right">
      <img src="\assets/headerimgs/mawaez-top.png" width="69" height="50" x="100">
      <hr>
    </div>

    <div class="header-middle">
      <img src="\assets/headerimgs/Logo.png"></div>

    <div class="header-left">
      <ion-menu-button autoHide="true" >  <img src="\assets/headerimgs/menu-bulets.png"   height="25"> </ion-menu-button>
      <label class="page-title"> {{ 'zekraa' | translate }}</label>
    </div>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div (click)="moveToPage('zekra-shahadet-waledh')"  class="home-box" >
    <div class="home-box-img">
      <img class="icon"  src="\assets/headerimgs/mareyat-top.png" width="50" height="45">
    </div>
    <div  class="home-box-title">{{ 'zekrawaledh' | translate }}  </div>
  </div>
  <div (click)="moveToPage('zekra-e7yaa-aljamaher')"  class="home-box" >
    <div class="home-box-img">
      <img class="icon"  src="\assets/headerimgs/mareyat-top.png" width="50" height="45">
    </div>
    <div  class="home-box-title">{{ 'zekrajamaher' | translate }} </div>
  </div>
  <div (click)="moveToPage('zekra-sanawya-lelsayed-suwar')"  class="home-box" >
    <div class="home-box-img">
      <img class="icon"  src="\assets/headerimgs/alsuwar-box.png" width="50" height="45">
    </div>
    <div  class="home-box-title">{{ 'zekraasuwar' | translate }}  </div>
  </div>
</ion-content>