<ion-header>
  <ion-toolbar>
    <div class="header-right">
      <img src="\assets/headerimgs/khotab-sayed-top.png" width="69" height="50" x="100">
      <hr>
    </div>

    <div class="header-middle">
      <img src="\assets/headerimgs/Logo.png"></div>

    <div class="header-left">
      <ion-menu-button autoHide="true" >  <img src="\assets/headerimgs/menu-bulets.png"   height="25"> </ion-menu-button>
      <label class="page-title"> {{ 'listen' | translate }}</label>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-fab  [hidden]="forwardshow" (click)="forwardLink()"  bottom right #fab>
    <button ion-fab>
      <ion-icon   name="ios-redo"></ion-icon>
    </button>
  </ion-fab>
  <div  (click)="getlink('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/001.wav')" (click)="streamaudio('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/001.wav')" class="home-box"   >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/player-icon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa1' | translate }}</div>
  </div>
  <div  (click)="getlink('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/002.mp3')" (click)="streamaudio('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/002.mp3')" class="home-box"   >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/player-icon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa2' | translate }}</div>
  </div>
  <div  (click)="getlink('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/003.mp3')" (click)="streamaudio('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/003.mp3')" class="home-box"   >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/player-icon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa3' | translate }}</div>
  </div>
  <div  (click)="getlink('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/004.mp3')" (click)="streamaudio('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/004.mp3')" class="home-box"   >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/player-icon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa4' | translate }}</div>
  </div>
  <div  (click)="getlink('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/005.mp3')" (click)="streamaudio('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/005.mp3')" class="home-box"   >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/player-icon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa5' | translate }}</div>
  </div>
  <div  (click)="getlink('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/006.mp3')" (click)="streamaudio('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/006.mp3')" class="home-box"   >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/player-icon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa6' | translate }}</div>
  </div>
  <div  (click)="getlink('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/007.mp3')" (click)="streamaudio('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/007.mp3')" class="home-box"   >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/player-icon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa7' | translate }}</div>
  </div>
  <div  (click)="getlink('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/008.mp3')" (click)="streamaudio('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/008.mp3')" class="home-box"   >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/player-icon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa8' | translate }}</div>
  </div>
  <div  (click)="getlink('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/009.mp3')" (click)="streamaudio('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/009.mp3')" class="home-box"   >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/player-icon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa9' | translate }}</div>
  </div>
  <div  (click)="getlink('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/010.mp3')" (click)="streamaudio('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/010.mp3')" class="home-box"   >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/player-icon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa10' | translate }} </div>
  </div>
  <div  (click)="getlink('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/011.mp3')" (click)="streamaudio('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/011.mp3')" class="home-box"   >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/player-icon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa11' | translate }} </div>
  </div>
  <div  (click)="getlink('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/012.mp3')" (click)="streamaudio('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/012.mp3')" class="home-box"   >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/player-icon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa12' | translate }} </div>
  </div>
  <div  (click)="getlink('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/013.mp3')" (click)="streamaudio('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/013.mp3')" class="home-box"   >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/player-icon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa13' | translate }} </div>
  </div>
  <div  (click)="getlink('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/014.mp3')" (click)="streamaudio('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/014.mp3')" class="home-box"   >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/player-icon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa14' | translate }} </div>
  </div>
  <div  (click)="getlink('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/015.mp3')" (click)="streamaudio('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/015.mp3')" class="home-box"   >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/player-icon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa15' | translate }} </div>
  </div>
  <div  (click)="getlink('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/016.mp3')" (click)="streamaudio('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/016.mp3')" class="home-box"   >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/player-icon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa16' | translate }} </div>
  </div>
  <div  (click)="getlink('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/017.mp3')" (click)="streamaudio('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/017.mp3')" class="home-box"   >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/player-icon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa17' | translate }} </div>
  </div>
  <div  (click)="getlink('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/018.mp3')" (click)="streamaudio('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/018.mp3')" class="home-box"   >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/player-icon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa18' | translate }} </div>
  </div>
  <div  (click)="getlink('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/019.mp3')" (click)="streamaudio('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/019.mp3')" class="home-box"   >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/player-icon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa19' | translate }} </div>
  </div>
  <div  (click)="getlink('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/020.mp3')" (click)="streamaudio('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/020.mp3')" class="home-box"   >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/player-icon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa20' | translate }} </div>
  </div>
  <div  (click)="getlink('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/021.mp3')" (click)="streamaudio('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/021.mp3')" class="home-box"   >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/player-icon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa21' | translate }} </div>
  </div>
  <div  (click)="getlink('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/022.mp3')" (click)="streamaudio('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/022.mp3')" class="home-box"   >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/player-icon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa22' | translate }} </div>
  </div>
  <div  (click)="getlink('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/023.mp3')" (click)="streamaudio('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/023.mp3')" class="home-box"   >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/player-icon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa23' | translate }} </div>
  </div>
  <div  (click)="getlink('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/024.mp3')" (click)="streamaudio('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/024.mp3')" class="home-box"   >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/player-icon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa24' | translate }} </div>
  </div>
  <div  (click)="getlink('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/025.mp3')" (click)="streamaudio('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/025.mp3')" class="home-box"   >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/player-icon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa25' | translate }} </div>
  </div>
  <div  (click)="getlink('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/026.mp3')" (click)="streamaudio('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/026.mp3')" class="home-box"   >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/player-icon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa26' | translate }} </div>
  </div>
  <div  (click)="getlink('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/027.mp3')" (click)="streamaudio('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/027.mp3')" class="home-box"   >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/player-icon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa27' | translate }} </div>
  </div>
  <div  (click)="getlink('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/028.mp3')" (click)="streamaudio('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/028.mp3')" class="home-box"   >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/player-icon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa28' | translate }} </div>
  </div>
  <div  (click)="getlink('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/029.mp3')" (click)="streamaudio('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/029.mp3')" class="home-box"   >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/player-icon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa29' | translate }} </div>
  </div>
  <div  (click)="getlink('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/030.mp3')" (click)="streamaudio('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/030.mp3')" class="home-box"   >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/player-icon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa30' | translate }} </div>
  </div>
  <div  (click)="getlink('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/031.mp3')" (click)="streamaudio('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/031.mp3')" class="home-box"   >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/player-icon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa31' | translate }} </div>
  </div>
  <div  (click)="getlink('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/032.mp3')" (click)="streamaudio('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/032.mp3')" class="home-box"   >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/player-icon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa32' | translate }} </div>
  </div>
  <div  (click)="getlink('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/033.mp3')" (click)="streamaudio('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/033.mp3')" class="home-box"   >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/player-icon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa33' | translate }} </div>
  </div>
  <div  (click)="getlink('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/034.mp3')" (click)="streamaudio('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/034.mp3')" class="home-box"   >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/player-icon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa34' | translate }} </div>
  </div>
  <div  (click)="getlink('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/035.mp3')" (click)="streamaudio('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/035.mp3')" class="home-box"   >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/player-icon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa35' | translate }} </div>
  </div>
  <div  (click)="getlink('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/036.mp3')" (click)="streamaudio('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/036.mp3')" class="home-box"   >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/player-icon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa36' | translate }} </div>
  </div>
  <div  (click)="getlink('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/037.mp3')" (click)="streamaudio('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/037.mp3')" class="home-box"   >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/player-icon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa37' | translate }} </div>
  </div>
  <div  (click)="getlink('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/038.mp3')" (click)="streamaudio('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/038.mp3')" class="home-box"   >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/player-icon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa38' | translate }} </div>
  </div>
  <div  (click)="getlink('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/039.mp3')" (click)="streamaudio('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/039.mp3')" class="home-box"   >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/player-icon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa39' | translate }} </div>
  </div>
  <div  (click)="getlink('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/040.mp3')" (click)="streamaudio('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/040.mp3')" class="home-box"   >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/player-icon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa40' | translate }} </div>
  </div>
  <div  (click)="getlink('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/041.mp3')" (click)="streamaudio('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/041.mp3')" class="home-box"   >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/player-icon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa41' | translate }} </div>
  </div>
  <div  (click)="getlink('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/042.mp3')" (click)="streamaudio('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/042.mp3')" class="home-box"   >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/player-icon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa42' | translate }} </div>
  </div>
  <div  (click)="getlink('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/043.mp3')" (click)="streamaudio('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/043.mp3')" class="home-box"   >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/player-icon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa43' | translate }} </div>
  </div>
  <div  (click)="getlink('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/044.mp3')" (click)="streamaudio('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/044.mp3')" class="home-box"   >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/player-icon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa44' | translate }} </div>
  </div>
  <div  (click)="getlink('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/045.mp3')" (click)="streamaudio('https://vps.alsader.net/%D8%AE%D8%B7%D8%A8_%D8%A7%D9%84%D8%AC%D9%85%D8%B9%D8%A9/%D8%A7%D8%B3%D9%85%D8%B9/045.mp3')" class="home-box"   >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/player-icon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa45' | translate }} </div>
  </div>
</ion-content>
