<ion-header>
  <ion-toolbar >
    <div class="header-right">
      <img src="\assets/headerimgs/sayed-top-header.png" height="100">
      <hr>
    </div>

    <div class="header-middle">
      <img src="\assets/headerimgs/Logo.png">
    </div>

    <div class="header-left">
      <ion-menu-button autoHide="true" >  <img src="\assets/headerimgs/menu-bulets.png"   height="25"> </ion-menu-button>
      <label class="page-title">السيد الشهيد مصطفى الصدر</label>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="sera-content">
    <h2 class="sera-title">السيد الشهيد مصطفى الصدر</h2>
    السيد مصطفى الصدر (أبو أحمد) هو الإبن الأكبر للسيد الشهيد محمد محمد صادق الصدر.
    ولد السيد مصطفى الصدر في 7/12/1964م، تزوج سنة 1985م إحدى بنات السيد الشهيد محمد باقر الصدر، وله أربعة أولاد هم (أحمد وصادق وزهراء وحسنات)، اضطرّ إلى الدخول في الجيش بعد أن رفض محمد تقي الخوئي تأجيله.
    وعاش الحياة الطبيعية التي يعيشها المستضعفون ورأى ما يراه طبيعيُّ الناس على عكس غيره.
    عُيّن قاضياً حوزوياً من قِبَل أبيه السيد الشهيد الصدر في محافظة النجف الأشرف.
    كان السيد مصطفى موظفاً في المكتب، ولم يعطه السيد الصدر صلاحيات مُطلقة، بل بقي الإشراف الـعام بيـد السيد الشهيد الصدر.
    كان السيد مصطفى يمثّل السيد الصدر في مناسبات عديدة في بعض المحافظات وقد ذهب مرّة إلى البصرة لافتتاح حسينية في مدينة العشار، وأرسل السيد الصدر معه اثنين من موظفي المكتب، وذلك بتاريخ 28 ذي الحُجَّة 1418هـ ، وأثناء زيارته للبصرة تفقَّد مناطق صلاة الجمعة، ثم ذهب بعد ذلك إلى العشار حيث افتتح الحسينية، وكان هناك حفل افتتاح فصلّى السيد مصطفى صلاة المغرب، وبعد الصلاة ألقى كلمة افتتاح هذه الحسينية، وبعده تكلّم الشيخ (علي النعماني) وبعد انتهاء الحفل كانت الجموع قد اكتظت بها الشوارع، فعندما أراد الخروج من الحسينية( ) تجمع الناس حوله وخرج بصعوبة بالغة، فلما ركب السيارة أرادت الجماهير حمل السيارة على الأيدي.
    وكان السيد مصطفى يصلّي في حضرة سيد الشهداء الإمام الحسين صلاة المغرب في ليلة الجمعة. وعندما أقيمت صلاة الجمعة أمره والده بالصلاة إماماً للجمعة في كربلاء، فبقي إماماً للجمعة حوالي أربعة أشهر.
    كان يجلس في المكتب ويتصدّى للإجابة عن الاستفتاءات الشفوية وكان يناقش طلبة البحث الخارج بحذاقة.
    ويذكر أنه كان يمتلك من قوّة القلب ما لا يضاهيه فيها أحد وتُذكَر له حوادث كثيرة تشهد بذلك منها:
    عندما خرج السيد جعفر إلى إيران حدثت ضجّة في العراق، فاتّصل مدير أمن النجف بمكتب السيد الصدر وكلّمه السيد مصطفى، وطلب منه القدوم إلى مديرية أمن النجف. فقال له: إذا أردت شيئاً فعليك أنت المجيء وليس أنا، فجاء مدير الأمن ودار بينهما الحوار التالي:
    - مدير الأمن: سيد جعفر منذ أسبوعين غير موجود فأين ذهب؟
    - السيد مصطفى الصدر: ذهب إلى إيران.
    - مدير الأمن: ومن أرسله إلى إيران؟
    - السيد مصطفى الصدر: السيد أرسـله،
    ويقصد السيد الصدر.
    - مدير الأمن: خرج بطريقة رسمية أم لا؟
    - السيد مصطفى الصدر: بصورة غير رسمية ولكن شرعية.
    - مدير الأمن: كيف ومن أي طريق؟
    - السيد مصطفى الصدر: خرج بطريق أو بآخر.
    - مدير الأمن: لماذا لم يخرج بطريقة قانونية؟
    - السيد مصطفى الصدر: كنتم ستمنعونه أكيداً.
    - مدير الأمن: وما هي أسباب خروجه؟
    - السيد مصطفى الصدر: عدّة أسباب، منها: مضايقة الدولة له، ومنعه من صلاة الجماعة في مسجد الكوفة، ومنعه من الصلاة في أحد مساجد الكوفة، وأنتم تصادمتم معه فتضايق من ذلك فرأى السيد الصدر أن الأولى خروجه.
    - مدير الأمن: ألا يسبّب هذا خلاف بين الدولة وبين السيد؟
    - السيد مصطفى الصدر: فليكن ما يكون.
    - مدير الأمن: من المفروض أن يكون عندنا علم مُسبق، لأن السيد جعفر ليس شخصاً عادياً.
    - السيد مصطفى الصدر: إننا إذا أردنا التحرُّك لأي أمر فليس من الوارد أن نخبركم.
    وبعد هذه الحادثة سأله أحد الثُّقاة قائلاً: لماذا لم يذهبوا إلى السيد الصدر يسألوه عن سيد جعفر؟
    فأجاب السيد مصطفى الصدر: إنهم يعلمون أن السيد سوف يطردهم، وهم على أية حال يخافون منه ومن جوابه.
    وبعد فشل محاولة اغتيال السيد مؤمل، جاء خبر أكيد أن هناك محاولة لاغتيال السيد مصطفى ومؤمل، وذلك بعد الزيارة الشعبانية سنة1419هـ، فجاءه أحد الوكلاء المعتمدين فأخبره بذلك فقال السيد مصطفى: فليكن.
    وفي تلك الأوضاع المضطربة كـان السيد مصطفى يوم الجمعة الذي وافق 14من شهر شعبان 1419هـ يتجول بين المصلّين خارج مسجد الكوفة، حيث أن الشوارع قد امتلأت بالمصلّين، فشاهد حدوث قيام لعدد من المصلّين الذين كانوا جالسين في أحد الشوارع، فجاء إليهم فسأل عن السبب، فقيل له: إن سيارة الطوارئ تريد المرور وكان عدد من الضباط يأمرون الناس بالتنحي عن الطريق، فأمرهم السيد مصطفى بالجلوس فوراً وبغضب فجلسوا جميعاً، وبعد بُرهةٍ قال: الآن قوموا (أراد أن يُثبِت طاعة الناس للحوزة وليس للنظام). فقاموا ومرّت سيارات الطوارئ.
    وفي اليوم التالي حيث أن مدينة النجف الأشرف كانت تضج بالزائرين، كان جالساً في المكتب، وكان الباب مغلقاً فجاء الخادم وقال: إن في الباب رجلاً يقول إنه معاون مدير أمن النجف ويريد مقابلتك، فقال: فليدخل، فدخل وهو المقدّم (سعد راضي) وبيده أوارق، ثم جلس وقال:
    - المقدم سعد راضي: سيّدنا رأيت ما حدث في صلاة الجمعة.
    - السيد مصطفى الصدر: وماذا حدث؟ أنتم لا تعرفون كيف تتصرفون بشكل جيد، فمجرد أن سمعتم أمريكا تقول أنَّ هذا الرجل (السيد الصدر) يريد أن يقوم بثورة ذُهِلتُم.
    - المعاون: سيدّنا الأمر ليس بأيدينا وإنما هي أوامر تأتي من الأعلى.
    وعاد الضابط قائلاً سيدنا أرأيت ما حدث في صلاة الجمعة أمس وهذه الجموع التي لمنشهد لها مثيل وفقدان السيطرة.
    - السيد مصطفى الصدر: بسبب تصرفكم وعدم مراعاة الناس ألم تَرَ ما حدث معي.
    - المعاون: سيدنا نحن أين وأنتم أين.
    ثم دار الحديث حول الزيارة الشعبانية فكان السيد يُكرِّر بلا مبالاة: وماذا حدث؟ ما الذيأطار صوابكم؟ وهل جننتم.
    - ثم قال الضابط: سيدنا سمعنا من مصادرنا الموثّقة أنَّ هناك وفوداً سوف تقدم إلى هنا لمبايعة السيد الصدر، ويقومون بتظاهرة وهتافات تأييد للسيد الصدر، وقد بُلّغتُ من قِبَلالقيادة بمتابعة هذا الأمر والتَّقصّي منه.
    - فقال: أنت تقول هذه مصادرنا ونحن لا نعلم شيئاً عنها، وحتى لو حدث حقاً ماقُلت، فنحن سوف نستقبل الناس ونحييهم ثم يذهبون إلى بيوتهم، فماذا سيحصل؟
    - فقال: سيّدنا هذا لو حدث فهو تظاهرة.
    - قال: قلت لك أن هذا الأمر لا أصل له، ولكن لو حدث فنحن نعرف كيف نتصرف، ثم قامالضابط وخرج.
    تعرض السيد مصطفى لهجوم كبير كأبيه بل ما هو أشدّ، وذلك أن هناك من كان يشكك في السيد الشهيد الصدر، ولكنه كان يقطع بعدم نزاهة السيد مصطفى، بل كان هناك ممن يُعتبر منضمن المؤيِّدين لمرجعية السيد الشهيد الصدر، إلا أنه لم يتورّع عن أولاده وعلى رأسهم هذاالسيد المظلوم.
    لم نعثر على شخص واحد قد تضرر بسببه، إلا أنَّ هناك أمراً دعاهؤلاء إلى عداءه، وهو قوّة قلبه، وعدم مجاملته على حساب الحق ومرجعية أبيه، ويكفيه شاهداً: ما كان يُكِنّه السيد الشهيد الصدر من احترام لابنه على الرغم من شدته ومحاسبتهكل إنسان مخطئ، فقد كان من النادر أن يُسمَع السيد الشهيد الصدر يسميه باسمه بل يُكنّيه بأبيأحمد. وقد روى أحد الثُّقاة قال: ذهبت إلى بيت السيد الشهيد الصدر فلما جلست هَمَّ بالقيام لأداء حق الضيافة، فدخل السيد مصطفى وهو يحمل قدحين من الشاي فقال له السيد الشهيد وقد رفع كلتا يديه مقابل وجهه الشريف: عفواً سيدنا زاحمناكم... مُتفضلين.

  </div>
</ion-content>
