<ion-header>
  <ion-toolbar>
    <div class="header-right">
      <img src="\assets/headerimgs/mawaez-top.png" width="69" height="50" x="100">
      <hr>
    </div>

    <div class="header-middle">
      <img src="\assets/headerimgs/Logo.png"></div>

    <div class="header-left">
        <ion-menu-button autoHide="true" >  <img src="\assets/headerimgs/menu-bulets.png"   height="25"> </ion-menu-button>
       <label class="page-title"> {{ 'home5' | translate }}</label>
    </div>
    </ion-toolbar>
</ion-header>


<ion-content>
  <ion-fab  [hidden]="forwardshow" (click)="forward()"  bottom right #fab>
    <button ion-fab>
      <ion-icon   name="ios-redo"></ion-icon>
    </button>
  </ion-fab>
  <ion-searchbar debounce={1000} animated  placeholder="{{ 'search' | translate }}" (ionInput)="getTopics($event)"></ion-searchbar>

<h2  class="search-result-title" [hidden]="searchClicked">{{ 'searchresult' | translate }}</h2>

<div  [hidden]="searchClicked" *ngFor="let v of voice">
  <div  *ngIf="v.category !='mp3'"  id="search-books"  class="home-box" >
<div class="home-box-img">
  <img  src="\assets/headerimgs/masaelicon.png" width="50" height="55">
  </div>
    <div  class="home-box-title">{{ v.title }}</div>
</div>
</div>
<div  [hidden]="searchClicked" *ngFor="let v of voice">
  <div  *ngIf="v.category !='page' "  id="search-books" (click)="streamaudio(v.link)"   class="home-box" >
<div class="home-box-img">
  <img  src="\assets/headerimgs/voice-icon.png" width="50" height="55">
  </div>
    <div  class="home-box-title">{{ v.title }}</div>
</div>
</div>

  <div [hidden]="searchNotClicked" (click)="moveToPage('mawaez')" class="home-box" >
    <div class="home-box-img">
      <img class="icon" src="\assets/headerimgs/sawteyat-icon.png" width="50" height="45">
      </div>
      <div  class="home-box-title">{{ 'listen' | translate }} </div>
  </div>
  <div [hidden]="searchNotClicked" (click)="moveToPage('mawaez-ekraa')" class="home-box" >
    <div class="home-box-img">
      <img class="icon"  src="\assets/headerimgs/masaelicon.png" width="50" height="45">
      </div>
      <div  class="home-box-title">{{ 'read' | translate }} </div>
  </div>
</ion-content>
