<ion-header>
  <ion-toolbar>
    <div class="header-right">
      <img src="\assets/headerimgs/mawaez-top.png" width="69" height="50" x="100">
      <hr>
    </div>
    <div class="header-middle">
      <img src="\assets/headerimgs/Logo.png"></div>

    <div class="header-left">
      <ion-menu-button autoHide="true" >  <img src="\assets/headerimgs/menu-bulets.png"   height="25"> </ion-menu-button>
      <label class="page-title"> {{ 'zekrajamaher' | translate }} </label>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div (click)="streamvideo('https://vps.alsader.net/%D9%85%D8%B1%D9%82%D8%AF%20%D8%A7%D9%84%D8%B3%D9%8A%D8%AF%20%D8%A7%D9%84%D8%B4%D9%87%D9%8A%D8%AF/%D8%B5%D9%88%D8%B1%20%D8%A7%D8%AD%D9%8A%D8%A7%D8%A1%20%D8%B0%D9%83%D8%B1%D9%89%20%D8%A7%D9%84%D8%A7%D8%B3%D8%AA%D8%B4%D9%87%D8%A7%D8%AF/2016(edited).mp4')" class="home-box"  >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/khotab-sayed-icon.png" width="50" height="45">
    </div>
    <div  class="home-box-title">{{ 'zekrajamaher' | translate }} {{ 'year' | translate }} {{ '1' | translate }}{{ '4' | translate }}{{ '3' | translate }}{{ '7' | translate }}</div>
  </div>
</ion-content>