<!-- <div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
  <div class="flb">
    <div class="Aligner-item Aligner-item--top"></div>
    <img src="assets/loading.svg">
    <div class="Aligner-item Aligner-item--bottom"></div>
  </div>
</div> -->
<ion-content  >
    <ion-slides (swipe)="swipeEvent($event)" [options]="sliderOpts" #slider>
      <ion-slide>
        <div class="slide-box">
            <img  src="\assets/headerimgs/app-s2.jpg" >
        </div>
    </ion-slide>
     <ion-slide>
    <div  class="slide-box"  >
        <img   src="\assets/headerimgs/app-s1.jpg">
    </div>
    </ion-slide>
    <ion-slide>
      <div class="slide-box">
          <img   src="\assets/headerimgs/app-s3.jpg" >
     </div>
    </ion-slide>
    <ion-slide>
    <div  class="slide-box">
        <img src="\assets/headerimgs/app-s4.jpg" >
    </div>
   </ion-slide>
  </ion-slides>

    <div class="bottom-content" (swipe)="swipeEvent($event)" *ngIf="showImage" >
        <img class="gif-arrow" src="https://media.giphy.com/media/fw8APRrKcuvcsIR5yo/giphy.gif">
    </div>

 <ion-header id="section1" (swipe)="swipeEvent($event)" >
	<ion-toolbar>
	    <div class="header-right">
	    	<img src="\assets/headerimgs/sayed-top-header.png" height="100">
	  	<hr>
	   </div>
	  <div class="header-middle">
	  	<img src="\assets/headerimgs/Logo.png">
	  </div>
	  <div class="header-left">
          <ion-menu-button autoHide="true" >  <img src="\assets/headerimgs/menu-bulets.png"   height="25"> </ion-menu-button>
		<label class="page-title"> {{ 'mainhome' | translate }}</label>
	  </div>
	  </ion-toolbar>
  </ion-header>
      <div   (click)="moveToPage('sera-al-zateya')"  class="home-box" >
         <div  class="home-box-title">  {{ 'home1' | translate }}</div>
          <div class="home-box-img">
         <img src="\assets/headerimgs/sera-logo.png" height="55">
        </div>
      </div>
       <div   (click)="moveToPage('mualafat-note')"  class="home-box" >
         <div  class="home-box-title">  {{ 'home2' | translate }}</div>
       <div class="home-box-img">
        <img src="\assets/headerimgs/mualafat-box.png" height="55">
       </div>
    </div>
    <div   (click)="moveToPage('khotabalsayed')"  class="home-box" >
      <div  class="home-box-title"> {{ 'home3' | translate }}</div>
    <div class="home-box-img">
     <img src="\assets/headerimgs/pray-2.png" height="55">
    </div>
  </div>
  <div   (click)="moveToPage('lekaat-hewarat')"  class="home-box" >
    <div  class="home-box-title"> {{ 'home4' | translate }}</div>
  <div class="home-box-img">
   <img src="\assets/headerimgs/group.png" height="55">
  </div>
</div>
<div   (click)="moveToPage('mawaez-akhlakeya')"  class="home-box" >
  <div  class="home-box-title"> {{ 'home5' | translate }}</div>
<div class="home-box-img">
 <img src="\assets/headerimgs/law.png" height="55">
</div>
</div>
<div  (click)="moveToPage('aldurus')"  class="home-box" >
  <div  class="home-box-title">{{ 'home6' | translate }}</div>
<div class="home-box-img">
 <img src="\assets/headerimgs/alsawteyat-box.png" height="55">
</div>
</div>
  <div  (click)="moveToPage('wasaekyat')"  class="home-box" >
         <div  class="home-box-title">   {{ 'home7' | translate }}</div>
       <div class="home-box-img">
        <img src="\assets/headerimgs/wasaekyat-icon.png" height="55">
  </div>
    </div>
    <div  (click)="moveToPage('suwar')"  class="home-box" >
      <div  class="home-box-title"> {{ 'home8' | translate }}</div>
    <div class="home-box-img">
     <img src="\assets/headerimgs/alsuwar-box.png" height="55">
    </div>
 </div>

    <div   (click)="moveToPage('masaelshareya')"  class="home-box" >
      <div  class="home-box-title">{{ 'home9' | translate }}</div>
    <div class="home-box-img">
     <img src="\assets/headerimgs/msaelshreya-box.png" height="55">
    </div>
 </div>
     <!-- <div  (click)="moveToPage('mareyat')"  class="home-box" >
         <div  class="home-box-title">    المرئيـــــــــــــــــــــات</div>
       <div class="home-box-img">
        <img src="\assets/headerimgs/mareyat-box.png" height="55">
       </div>
    </div> -->
    <div   (click)="moveToPage('makat3-khasa-lelsayed')"  class="home-box" >
      <div  class="home-box-title"> {{ 'home10' | translate }}</div>
    <div class="home-box-img">
     <img src="\assets/headerimgs/confidential.png" height="55">
    </div>
    </div>
    <div  (click)="moveToPage('maktabat-alsayed')"  class="home-box" >
      <div  class="home-box-title">  {{ 'home11' | translate }}</div>
    <div class="home-box-img">
     <img src="\assets/headerimgs/book.png" height="55">
    </div>
    </div>
    <div   (click)="moveToPage('almathaf')"  class="home-box" >
      <div  class="home-box-title">{{ 'home12' | translate }}</div>
    <div class="home-box-img">
     <img src="\assets/headerimgs/royal-museum-of-the-armed-forces.png" height="55">
    </div>
    </div>
    <div   (click)="moveToPage('mawk3-alesteshhad')"  class="home-box" >
      <div  class="home-box-title">  {{ 'home13' | translate }}</div>
    <div class="home-box-img">
     <img src="\assets/headerimgs/place.png" height="55">
    </div>
    </div>
    <div   (click)="moveToPage('alnajlayn-alshahedayn')"  class="home-box" >
      <div  class="home-box-title">  {{ 'home14' | translate }}</div>
    <div class="home-box-img najlynicon">
     <img src="\assets/headerimgs/alnajlyn-icon.png" height="86">
    </div>
    </div>
    <div   (click)="moveToPage('markad-alsayed')"  class="home-box" >
         <div  class="home-box-title">  {{ 'home15' | translate }}</div>
       <div class="home-box-img">
        <img src="\assets/headerimgs/almarkad-box.png" height="55">
       </div>
    </div>
    <!-- <div  (click)="moveToPage('arshefketabe')"  class="home-box" >
         <div  class="home-box-title"> الارشيف الكتابي</div>
       <div class="home-box-img">
        <img src="\assets/headerimgs/arshifketabe-box.png" height="55">
       </div>
    </div> -->
    <div   (click)="moveToPage('mawaketalsalat')"  class="home-box" >
         <div  class="home-box-title"> {{ 'home16' | translate }}</div>
       <div class="home-box-img">
        <img src="\assets/headerimgs/mawaketsalat-box.png" height="55">
       </div>
    </div>
</ion-content>
