<ion-header>
  <ion-toolbar >
    <div class="header-right">
      <img src="\assets/headerimgs/sayed-top-header.png" height="100">
      <hr>
    </div>

    <div class="header-middle">
      <img src="\assets/headerimgs/Logo.png">
    </div>

    <div class="header-left">
        <ion-menu-button autoHide="true" >  <img src="\assets/headerimgs/menu-bulets.png"   height="25"> </ion-menu-button>
      <label class="page-title">  {{ 'home1' | translate }}</label>
    </div>
    </ion-toolbar>
</ion-header>

<ion-content >
<div class="sera-content" *ngFor="let c of content">
  <div class="note-content">
    <h2 >{{c.tanwehTitle}}</h2>
    <span>{{c.tanwehText}}</span>
  </div>
  <h2 class="sera-title">{{c.NasabuTitle}}</h2>
  {{c.NasabuText}}  
  <h2 class="sera-title">{{c.nasatoTitle}}</h2>
  
  {{c.nasatoText}} 
  <h2 class="sera-title">{{c.derasatoTitle}}</h2>
  {{c.derasatoText}} 
  <h2 class="sera-title">{{c.mualafatoTitle}}</h2>
  {{c.mualafatoText}} 
</div>
</ion-content>
