<ion-header>
  <ion-toolbar >
    <div class="header-right">
      <img src="\assets/headerimgs/sayed-top-header.png" height="100">
      <hr>
    </div>

    <div class="header-middle">
      <img src="\assets/headerimgs/Logo.png">
    </div>

    <div class="header-left">
        <ion-menu-button autoHide="true" >  <img src="\assets/headerimgs/menu-bulets.png"   height="25"> </ion-menu-button>
      <label class="page-title">  {{ 'home1' | translate }}</label>
    </div>
    </ion-toolbar>
</ion-header>

<ion-content>
<div class="sera-content">
  <div class="note-content">
    <h2>تنويه</h2>
    <span>اعتمدنا هذه السيرة المُختَصَرَة من حياة السيد الشهيد محمد الصدر ( قدس سره )
بالتحديد، لانها أُمضيَتْ وأُقِـرَّتْ من سماحته حال حياته، فلهذا السبب اعتمدناها مع اختصارها.</span>
  </div>
  <h2 class="sera-title">نسبه :</h2>
  هو السيد محمد بن محمد صادق بن محمد مهدي بن اسماعيل بن صدر الدين محمد بن صالح بن محمد بن ابراهيم شرف الدين (جدآل شرف الدين) بن زين العابدين بن السيد نور الدين علي بن السيد على نور الدين (جد آل نور الدين) بن الحسين بن محمد بن الحسين بن علي بن محمد بن تاج الدين ابي الحسن (جد آل أبي الحسن) بن محمد شمس الدين بن عبد الله بن جلال الدين بن أحمد بن حمزه الأصغر بن سعد الله بن حمزه الأكبر بن أبي السعادات محمد أبن أبي محمد عبد الله بن أبي الحرث محمد (جد آل ابي الحرث) بن أبي الحسن علي بن عبد الله أبي طاهر بن أبي الحسن بن أبي الطيب طاهر بن الحسين القطعي بن موسى بن أبي سبحى (جد آل أبي سبحة) ابن ابراهيم المرتضى بن الإمام أبي ابراهيم موسى بن جعفر بن محمد بن علي بن الحسين بن علي بن أبي طالب (ع).
  <h2 class="sera-title">ولادته ونشأته</h2>
  ولد سماحة المؤلف في ١٧ ربيع الأول سنة ١٣٦٢ هجري المصادف ٢٣/٣/١٩٤٣ وهو يوم عيد المولد النبوي الشريف. ويذكر أن أبويه لم يكن عندهم أولاد وعند ذهابهم إلى الحج وزيارة قبر النبي (ص) توسلوا إلى الله بالرسول أن يرزقهم الله الولد وبالفعل استجاب الله دعاء الوالدين الشريفين فولد سماحة المؤلف في نفس اليوم الذي ولد فيه الرسول (ص)


  وعاش سماحته في كنف جده لأمه آية الله العظمى الشيخ محمد رضا آل ياسين وهو من المراجع المشهورين وعاش كذلك في كنف والده الحجة السيد محمد صادق الصدر (ره)حيث كان المؤلف وحيداً لوالده. وقد نشأ سماحته في بيت علم وفضل فأكتسب العلم منذ صباه بواسطة والده السيد محمد صادق الصدر وكان لنشأته وتربيته الدينية إنعكاس واضح في خلقه الرفيع وسماحته وبشاشته وصدره الرحب الذي يستوعب كل الأسلئة الموجهة إليه حتى المحرجة منها وليس عجيباً ذلك فإن هي إلا( كشجرة طيبة أصلها ثابت وفرعها في السماء).
  <h2 class="sera-title">  دراسته وتدرجه العلمي</h2>
  بدأ سيدنا الدرس الحوزوي في سن مبكرة حيث تعمم وهو ابن أحد عشر سنة مبتدئاً بدراسة النحو وغيره (كما هو المعتاد حوزوياً) على يد والده السيد محمد صادق الصدر (ره) ثم على يد السيد طالب الرفاعي ثم على يد الشيخ حسن طراد العاملي أحد علماء الدين في لبنان حالياً، ثم أكمل بقية المقدمات على يد السيد محمد تقي الحكيم والشيخ محمد تقي الأيرواني وقد دخل سماحة المؤلف إلى كلية الفقه سنة (١٣٧٦ هـ /١٩٥٧ م) دارساً على يد ألمع أساتذتها فقد درس:-
  ١- الفلسفة الألهية على يد محمد رضا المطفر (قد).
  ٢- الأصول والفقه المقارن على يد السيد محمد تقي الحكيم (صاحب كتاب الأصول العامة للفقه المقارن).
  ٣- الفقه على يد الشيخ محمد تقي الأيرواني.
  ٤- القواعد العربية على يد الشيخ عبد المهدي مطر
  وكان من أساتذته في هذه الكلية بعض الأساتذة من ذوي الأختصاصات والدراسات غير الحوزويه كالسيد عباس الوهاب الكربلائي مدير اللغة الأنكليزية والذكتور حاتم الكعبي في علم الأجتماع والدكتور أحمد حسن الرحيم في علم النفس والدكتور فاضل حسين في التاريخ.
  وقد تخرج سماحته من كلية الفقه سنة (١٣٨١هـ / ١٩٦٢ م) ضمن الدفعة الأولى من خريجي كلية الفقه في النجف الأشرف وكان من زملائه الذين تخرجوا معه:
  الشيخ الدكتور أحمد الوائلي / الشيخ مسلم الجابري / السيد عدنان البكاء / السيد أحمد زكي الأمين / السيد مصطفى جمال الدين / الشيخ محمود الكوتراني / الشيخ أحمد القبيسي اللبناني.
  ثم دخل سيدنا مرحلة السطوح العليا حيث درس كتاب الكفاية على يد السيد محمد باقر الصدر (قد) وبعض كتاب المكاسب عيى يد السيد محمد تقي الحكيم وقد كان لدراسته على يد هذين العلمين الأثر الأكبر في صقل موهبته العلمية التي شهد بها أساتذته أنفسهم ثم اكمل دراسة المكاسب على يد الشيخ صدرالباتكوبي الذي كان من مبرزي الحوزة وفضلائها.
  وبعدها ارتقى سماحة المؤملف إلى مجارج البحث الخارج. فحضر بحث الخارج عند: -
  ١- السيد محمد باقر الصدر (قد) / دورة أصولية ونصف دورةوكتاب الطهاره.
  ٢- السيد المحقق الخوئي / دورة أصوليه كامله و كتاب الطهارة.
  ٣- السيد ابي أحمد في المكاسب .
  ٤- السيد محسن الحكيم في كتاب المضاربة.


  أما إجازته في الرواية فقد سئل سماحته في أحد الأستفتاءات الموجهة إليه فكان جوابه أن له إجازة من عدة مشايخ أعلاها من آية الله ملا محسن الطهراني الشهيربآغا بزرك صاحب كتاب (الذريعة إلى تصانيف الشيعة) عن أعلى مشايخه الميرزا حسين النوري صاحب كتاب (مستدرك الوسائل) ومنهم أيضاً والده السيد الحجة محمد صادق الصدر وخاله الشيخ مرتضى آل ياسين وابن عمه آية الله آغا حسين خادم الشريعة والسيد عبد الرزاق المقرم صاحب كتاب (مقتل الحسين (ع)) وآية الله السيد حسن الخرسان وآية الله السيد عبد الأعلى السبزواري وغيرهم.
  وقد أجيز بالإجتهاد من قبل أستاذه السيد محمد باقر الصدر في سنة (١٣٩٦ هـ - ١٩٧٧م) وقد كان عمره آنذاك أربع وثلاثين سنة.ولا بد لنا أن نذكر إلى جانب مسيرته العلمية وآساتذته في هذه المسيرة مسيرته في طريق المعرفة الإلهية والعلوم الأخلاقية وكان آستاذه في ذلك أحد كسبة النجف الأشرف الذي يعتبره سماحة المؤلف أرقى شخص معاصر في هذا المجال قد تتلمذ على يده لعامين ثم وافاه الأجل (ره) عام (١٤٠٠ هـ /١٩٨٠م).
  وقد يخطر في الذهن : كيف يكون أحد كسبة النجف استاذاً لرجل دين وعلم من الأعلام كسماحة المؤلف؟.
  وجوابه : ان الحديث يقول (أخفى الله وليه بين عباده) فمقدار الأقتراب إلى الله ليس منوطاً بالعلم فقط وإنما بصلاح النفس وصفائها وفهمها إلى حقيقة العبودية واندماجها في هذا المعنى وهذا لا يحصل لكل أحد ولا يناله إلا من ارتضى الله من عالم أو كاسب.
  فاستمر سماحته على هذا الطريق الإلهي إلى حد الآن والذي لا يعرف مدياته وأسراره العرفانية إلا سماحته فهو يعتبرها من الأسرار التي بينه وبين ربه والتي لا يمكن البوح بها، وقد لمح إلى ذلك في إستفتاء خاص حيث قال ما مؤداه

  (ان الله قد أندر وحذر وجعل الحجج، ولكل إنسان إستجابة مع ذلك تتناسب مع قابلياته واستعداداته فكلما إستجاب الأنسان لها استحق المزيد).
  <h2 class="sera-title">مؤلفاته:</h2>
  ١- نظرات إسلامية في إعلان حقوق الأنسان ..... مطبوع
  وهو مناقشة إسلامية للائحة حقوق الأنسان التي أصدرتها الجمعية التأسيسية التي تشكلت عقيب الثورة الفرنسية ١٧٨٩م.
  ٢- فلسفة الحد ومصالحه في الأسلام ............. مطبوع
  ٣- أشعة من عقائد الأسلام ..... مطبوع وهو ثلاث بحوث تتكفل بعض جوانب أصول الدين.
  ٤- القانون الأسلامي – وجوده – صعوباته – منهجه .... مطبوع
  ٥- موسوعة الإمام المهدي ((عج)) صدر منها لحد الآن:-
  أ‌- تاريخ الغيبة الصغرى ... مطبوع.
  ب‌- تاريخ الغيبة الكبرى .... مطبوع.
  ج- تاريخ ما بعد الظهور ..... مطبوع
  د- اليوم الموعود بين الفكر المادي والديني ....مطبوع.
  والخامس منها مخطوط ومن الممكن أن تصل هذه الموسوعة إلى إثني عشر جزءاً وقد عبر عنها سماحة المؤلف في إحدى جلساته بأنها مفتوحة لكل سؤال يأتي للذهن حول مسألة الإمام المهدي (( عج)).
  وفي الواقع أن هذه الموسوعة قد أغنت المكتبة الأسلامية عموماً والشيعية خصوصاً بما حوته من آراء وإجابات لكثير من الأسئلة التي تدور حول قضية الإمام المهدي (( عج)) وظهوره علاوة على ما حوته من مناقشة ونقد بعض الآراء الموجودة بإسلوب فريد يشعر بدقة وعلمية في الطرح وقد أقر بذلك

  وأعجب به كل من أطلع على هذه الموسوعة الضخمة علماً إن هذه الموسوعة صدرت وقد كان عمر سماحة المؤلف حينئذ (٢٩) عاماً تقريباً كما يجدر الأشارة إلى المقدمة الرئيسية لهذه الموسوعة فقد كتبها سماحة السيد محمد باقر الصدر ((قد)) على شكل بحث موجز حول الإمام المهدي ((عج)) وقد قال في نهاية هذه المقدمة:
  (( وسأقتصر على هذا الموجز من الأفكار تاركاً التوسع فيها وما يرتبط بها من تفاصيل إلى الكتاب القيم الذي أمامنا فإننا بين يدي موسوعة جليلة في الإمام المهدي (عج) وضعها أحد أولادنا وتلامذتنا الأعزاء وهو العلامة البحاثة السيد محمد الصدر – حفظه الله تعالى – وهي موسوعة لم يسبق لها نظير في تاريخ التصنيف الشيعي حول المهدي (ع) في إحاطتها وشمولها لقضية الإمام المنتظر من كل جوانبها وفيها من سعة الأفق وطول النفس العلمي واستيعاب الكثر من النكات واللفتات ما يعبر عن الجهود الجليلة التي بذلها المؤلف في إنجاز هذه الموسوعة الفريدة وإني لأحس بالسعادة وأنا أشعر بما تملاه هذه الموسوعة من فراغ وما تعبر عنه من فضل ونباهة وألمعية وأسال المولى سبحانه وتعالى ان يقر عيني به ويريني فيه علماً من اعلام الدين)).
  ٦- ما وراء الفقه ... مطبوع. وهو موسوعة فقهية مؤلفة من عشرة أجزاء تحتوي على أسئلة تخص الثقافة الفقهية المعمقة. وقد طرح فيها سماحة المؤلف آراء تخص المسائل الخلافية بين الفقهاء بشيء من الإستدلال ومهمته الأساسية في هذا الكتاب شرح أهم موضوعات المسائل في الفقه مّما لم يتعرض له الفقهاء بشيء من التفصيل.
  ٧- فقه الأخلاق .... مطبوع في جزئين حالياًََ . وهو يبحث عن

  الأحكام الأخلاقية والمستحبات في الفقه وقد سئل سماحة المؤلف عما احتواه فقه الأخلاق فاَجاب : ((إنه جواهر بين التراب)) إشارة لما فيه من اللمحات العرفانية العقلية والبعد الفكري في شرح مضمون العبادات المستحبة والواجبة.
  ٨- فقه الفضاء ....... مطبوع. اشتمل هذا الكتاب على بحوث شرعية تعد نادرة وجديدة في ميدان الفقه حيث خرج بنا سماحة المؤلف في هذا الكتاب إلى التكليف الشرعي خارج نطاق الأرض وهو نقص كانت تعاني منه المكتبة الإسلامية فحاول سماحته في هذا الكتاب أن يضع خطوة من هذه الخطوات في هذا الطريق.
  ٩- بحث حول الكذب .............. مطبوع.
  ١٠- بحث حول الرجعة ............. مطبوع.
  ١١- كلمة في البداء .............. مطبوع.
  ١٢- الصراط القويم ........ مطبوع. وهو رسالة عملية تحتوي على فقه متكامل ومختصر في الفتاوي التي تفيد المقلدين.
  ١٣- منهج الصالحين ..... مطبوع، وهو رسالة عملية مكونة من خمسة أجزاء محتوية على فقه فتوائي متكامل يتصف بالتفصيل والتعرض للمسائل الحديثة التي لم يتطرق إليها الفقهاء السابقون.
  ١٤- مناسك الحج .......... مطبوع.
  ١٥- كتاب الصلاة ............... مطبوع.
  ١٦- كتاب الصوم .......... مطبوع.
  ١٧- أضواء على ثورة الحسين (ع)) ......... مطبوع.
  ١٨- مّنة المّنان في الدفاع عن القرآن ................ مخطوط. وهو مجموعة من المحاضرات التي يلقيها سماحة المؤلف على الطلبة في يومي الخميس

  والجمعة من كل أسبوع إضافة إلى أيام التعطيل الدراسي ومما تتميز به هذه المحاضرات هو روح التجدد والجراَة في نقد الآراء وتفنيدها فلقد خرق سماحة المؤلف – دامت افاضاته – عادة المفسرين في تفسير القرآن الكريم من سورة الفاتحة مبتدءاً بالعكس أي من سورة الناس وله في اتخاذ هذا المنهج رأي سديد طرحه في بداية البحث التفسيري حيث قال :
  (( السبب في ذلك ان من عادة المفسرين اي يرموا يثقلهم كله او جله في السور الطوال التي يبتديء بها القرآن حتى اذا وصلوا إلى المنتصف او اكثر ترددت عبارة ( كما قلنا فيما سبق) فلا يعطون السور الأخيرة حقها لانهم أجهدوا أنفسهم في المبتدأ)) . فاتخذ سماحة المؤلف هذا النهج من باب سد النقص الذي من الممكن حصوله بسبب ما قلناه وإشباع آخر القرآن بحثاً وتفسيراً لتكتمل صور التفسير العامة المشكلة من محاولات المفسرين في تفسير القرآن الكريم.
  ١٩- دورة كاملة في علم الأصول من بحث الخارج الإستدلالي الذي حضره عند السيد الخوئي ((قد )) ......... مخطوط.
  ٢٠- دوره كامله في علم الأصول من بحث الخارج الإستدلالي الذي حضره عند السيد محمد باقر الصدر ((قد)) ... مخطوط.
  ٢١- مباحث في كتاب الطهارة الإستدلالي في شرح العروة الوثقى من تقريرات السيد محمد باقر الصدر ((قد )).......... مخطوط.
  ٢٢- مباحث في كتاب الطهارة الإستدلالي في شرح العروة الوثقى من تقريرات السيد الخوئي ((قد )).......... مخطوط.
  ٢٣- بحث المكاسب الإستدلالي .......... مخطوط . والذي درّسه السيد أبو
  أحمد((قد)) وكانت المحاضرات تلقى باللغة الفارسية إلا إن سماحة المؤلف كان يكتب المطالب كلها خلال الدرس بالعربية.
  ٢٤- اللمعة في اَحكام صلاة الجمعة ........ مخطوط . وهي التقريرات لبحث تفصيلي عقده في شهر رمضان المبارك المرحوم سماحة الحجة إسماعيل الصدر ((قد)).
  وله عدة مشاركات أيضاً في مجلاّت عديدة كمجلةالأيمان ومجلةالنجف ومجلة العرفان اللبنانية ومجلة الأضواء وغيرها.
  كما له بحوث متفرقة في الفقة والتفسير وقواعد اللغة العربية والمقالات الإجتماعية.
  والحمد لله على أن وفقني للأختتام مصلياً ومسلماً على سيد الأنام محمد وآله البررة الكرام.

</div>




</ion-content>
