.header-right img{    top: 39px;
    height: 32px;
  } 
   .home-box-title {
     position: relative;
      right: -26px;
      color: #fff;
      top: -21px;
      width: 225px;
      font-size: 19px;
  }
  .home-box-img {
     position: relative;
      left: 119px;
      top: 10px;
      height: 44px;
  }  @media (min-width: 0px) {
    .images {
        column-count: 2;
    }
  }
  
  @media (min-width: 420px) {
    .images {
        column-count: 3;
    }
  }
  
  @media (min-width: 720px) {
    .images {
        column-count: 4;
    }
  }
  .one-image img{margin-top: -5px;
    max-width: 107%;
    position: relative;
    top: 23px !important;}
  .one-image {
    margin: 0px; 
  }
  .image-container {
    min-height: 200px;
    background-size: cover;
  }