<ion-header>
  <ion-toolbar>
    <div class="header-right">
      <img src="\assets/headerimgs/khotab-sayed-top.png" height="70" >
      <hr>
    </div>

    <div class="header-middle">
      <img src="\assets/headerimgs/Logo.png"></div>
    <div class="header-left">
      <ion-menu-button autoHide="true" >  <img src="\assets/headerimgs/menu-bulets.png"   height="25"> </ion-menu-button>
       <label class="page-title">{{ 'read' | translate }} </label>
    </div>
    </ion-toolbar>
</ion-header>

<ion-content>
  <div  (click)="moveToPage(k.link)" class="home-box" *ngFor="let k of khotab" >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/masaelicon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{k.title}}</div>
  </div>

</ion-content>
