

.header-right img {
    height: 60.9px;}
   .home-box-title {
     position: relative;
      right: -26px;
      color: #fff;
      top: -21px;
      width: 225px;
      font-size: 19px;
  }
  .home-box-img {
     position: relative;
      left: 119px;
      top: 14px;
      height: 44px;
  }
