.home-box-title {
  position: relative;
  right: -26px;
  color: #ffffff;
  top: -21px;
  width: 225px;
  font-size: 19px;
}
.home-box-img {
  position: relative;
  left: 119px;
  top: 10px;
  height: 44px;
}

.header-right img {
  float: right;
  position: relative;
  right: -4px;
  top: 7px;
  height: 112px;
}
.sera-content{
  direction: rtl;
  margin: 12px;
  font-size: 20px;
  color: #ffffff;
  text-align: justify
}

.sera-title{
  color: #c66703;
  font-size: 28px;
  margin-bottom: -2px;
}
