<ion-header>
  <ion-toolbar >
    <div class="header-right">
      <img src="\assets/headerimgs/sayed-top-header.png" height="100">
      <hr>
    </div>

    <div class="header-middle">
      <img src="\assets/headerimgs/Logo.png">
    </div>

    <div class="header-left">
      <ion-menu-button autoHide="true" >  <img src="\assets/headerimgs/menu-bulets.png"   height="25"> </ion-menu-button>
      <label class="page-title">  {{ 'read' | translate }}</label>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="sera-content">
    <h2 class="sera-title">جريمة الإغتيال</h2>
    كان من عادة السيّد أنْ يجلس في مكتبه (البرانيّ) بعد صلاتي المغرب والعشاء في يومي الخميس والجمعة، ليخرج بعدها إلى بيته. وفي تلك الليلة خرج السيّد على عادته ومعه ولداه - السيّد مصطفى والسيّد مؤمّل (قدّس سرهما)- بلا حمايةٍ ولا حاشيةٍ، وفيما كانوا يقطعون الطريق إلى بداية منطقة (الحنّانة) في إحدى ضواحي النجف القريبة، وقرب الساحة المعروفة بـ(ساحة ثورة العشرين)، جاءت سيّارة أميركيّة الصنع (أولدزموبيل)، ونزل منها مجموعة من عناصر السلطة الظالمة وبأيديهم أسلحة رشّاشة، وفتحوا النار على سيّارة السيّد، فاستشهدوا جميعاً.
    اتصل من في البيت (بيت الحنانة) بالسيد مقتدى الصدر (أعزه الله) بأن السيد قد تأخر عن المجيء فهرع هو وأحد المشايخ والسادة للبحث عنه فوجدوا السيارة التي كانت تُقِل السيد الصدر مرتطمة بشجرة( ) في شارع يسمى بشارع البريد - في حينها- والسيارة مملوءة بالرصاص والطلقات، وقد أخذوا السيد الصدر ونجليه إلى المستشفى.
    كان كل من السيد مصطفى والسيد مؤمل أحياء، لكن حالتهم جداً خـطرة وحرجة، واستشهدا بعد نقلهم إلى المستشفى بوقت قليل، السيد مصطفى الصدر كانت يداه مملوءة من الطلقات ولعله كان يمنع الطلقات عن أبيه، كان السيد مصطفى يردد قبل استشهاده: يا زهراء يا زهراء، أما السيد مؤمل فكانت الطلقات في جانبه الأيسر، وكان يتكلم بكلمات لكن لحالته الحرجة كلامه لا يسمع ولا يفهم. أما السيد الصدر فقد استشهد قبل وصوله إلى المستشفى برصاصة في جبهته؟! وبعد استشهادهم حضـر جمع من مسؤولي السلطة إلى المستشفى، وذهب آخرون إلى بيته ولم يسمحوا بتجمهر المعزين أو الراغبين بتشييع جنازته ولذا قام بمهمة تغسيله وتكفينه - بعد توكيلهم من قبل السيد مقتدى الصدر (أعزه الله)- مجموعة من طلابه ومريديه، ثم شيعوه ليلاً، حيث تم دفنه في المقبرة الجديدة -في حينها- الواقعة في وادي السلام.
  </div>
</ion-content>
