<ion-header>
  <ion-toolbar >
    <div class="header-right">
      <img src="\assets/headerimgs/sayed-top-header.png" height="100">
      <hr>
    </div>
    
    <div class="header-middle">
      <img src="\assets/headerimgs/Logo.png">
    </div>

    <div class="header-left">
        <ion-menu-button autoHide="true" >  <img src="\assets/headerimgs/menu-bulets.png"   height="25"> </ion-menu-button> 
      <label class="page-title"> موسوعة فقه الاخلاق</label>
    </div>
    </ion-toolbar>  
</ion-header>

<ion-content>
  
    <div (click)="
    showLoader()" (click)="
    ac.downloadLL(b.link,b.title)" class="home-box" *ngFor="let b of book" >  
      <div class="home-box-img">
        <img  src="\assets/headerimgs/mualafat-icon.png" width="50" height="55">
        </div>
        <div  class="home-box-title">{{b.title}} </div>
    </div>
    
</ion-content>


