<ion-header>
    <ion-toolbar>
        <div class="header-right">
            <img src="\assets/headerimgs/wasaekyat-top.png" height="70" >
            <hr>
        </div>
        <div class="header-middle">
            <img src="\assets/headerimgs/Logo.png">
        </div>
        <div class="header-left">
            <ion-menu-button autoHide="true" >  <img src="\assets/headerimgs/menu-bulets.png"   height="25"> </ion-menu-button>
            <label class="page-title"> {{ 'home7' | translate }} </label>
        </div>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div (click)="streamvideo(c.link)" class="home-box" *ngFor="let c of content" >
        <div class="home-box-img">
            <img  src="\assets/headerimgs/wasaekyatvideo-icon.png" width="50" height="45">
        </div>
        <div  class="home-box-title">{{c.title}}</div>
    </div>
   
</ion-content>
