<ion-header>
    <ion-toolbar>
        <div class="header-right">
            <img src="\assets/headerimgs/wasaekyat-top.png" height="70" >
            <hr>
        </div>
        <div class="header-middle">
            <img src="\assets/headerimgs/Logo.png">
        </div>
        <div class="header-left">
            <ion-menu-button autoHide="true" >  <img src="\assets/headerimgs/menu-bulets.png"   height="25"> </ion-menu-button>
            <label class="page-title"> {{ 'home7' | translate }} </label>
        </div>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div (click)="streamvideo('https://vps.alsader.net/%D9%88%D8%AB%D8%A7%D8%A6%D9%82%D9%8A%D8%A7%D8%AA/ep1(edited).mp4')" class="home-box" >
        <div class="home-box-img">
            <img  src="\assets/headerimgs/wasaekyatvideo-icon.png" width="50" height="45">
        </div>
        <div  class="home-box-title">{{ 'documentary' | translate }}  {{ '1' | translate }}</div>
    </div>
    <div (click)="streamvideo('https://vps.alsader.net/%D9%88%D8%AB%D8%A7%D8%A6%D9%82%D9%8A%D8%A7%D8%AA/ep2(edited).mp4')" class="home-box" >
        <div class="home-box-img">
            <img  src="\assets/headerimgs/wasaekyatvideo-icon.png" width="50" height="45">
        </div>
        <div  class="home-box-title">{{ 'documentary' | translate }} {{ '2' | translate }}</div>
    </div>
    <div (click)="streamvideo('https://vps.alsader.net/%D9%88%D8%AB%D8%A7%D8%A6%D9%82%D9%8A%D8%A7%D8%AA/ep3(edited).mp4')" class="home-box" >
        <div class="home-box-img">
            <img  src="\assets/headerimgs/wasaekyatvideo-icon.png" width="50" height="45">
        </div>
        <div  class="home-box-title">{{ 'documentary' | translate }}  {{ '3' | translate }} </div>
    </div>
    <div (click)="streamvideo('https://vps.alsader.net/%D9%88%D8%AB%D8%A7%D8%A6%D9%82%D9%8A%D8%A7%D8%AA/wasaeki%201.mp4')" class="home-box" >
        <div class="home-box-img">
            <img  src="\assets/headerimgs/wasaekyatvideo-icon.png" width="50" height="45">
        </div>
        <div  class="home-box-title">{{ 'documentary' | translate }}  {{ '4' | translate }} </div>
    </div>
    <div (click)="streamvideo('https://vps.alsader.net/%D9%88%D8%AB%D8%A7%D8%A6%D9%82%D9%8A%D8%A7%D8%AA/wasaeki%202.mp4')" class="home-box" >
        <div class="home-box-img">
            <img  src="\assets/headerimgs/wasaekyatvideo-icon.png" width="50" height="45">
        </div>
        <div  class="home-box-title">{{ 'documentary' | translate }}  {{ '5' | translate }} </div>
    </div>
    <div (click)="streamvideo('https://vps.alsader.net/%D9%88%D8%AB%D8%A7%D8%A6%D9%82%D9%8A%D8%A7%D8%AA/ep6%20(edited)%20(2).mp4')" class="home-box" >
         <div class="home-box-img">
          <img  src="\assets/headerimgs/wasaekyatvideo-icon.png" width="50" height="45">
         </div>
          <div  class="home-box-title">{{ 'documentary' | translate }}  {{ '6' | translate }}</div>
       </div>
</ion-content>
