.home-box-title {
    position: relative;
     right: -26px;
     color: #fff;
     top: -21px;
     width: 225px;
     font-size: 19px;
  }
  .home-box-img {
    position: relative;
     left: 119px;
     top: 10px;
     height: 44px;
  }
  .header-right img {
    float: right;
    position: relative;
    right: 11px;
    top: 27px;
    height: 60px;
  }
  .header-middle img {
    margin: 40px 0 10px 76px;
  }
