<ion-header>
  <ion-toolbar>
    <div class="header-right">
      <img src="\assets/headerimgs/mawaez-top.png" width="69" height="50" x="100">
      <hr>
    </div>
    
    <div class="header-middle">
      <img src="\assets/headerimgs/Logo.png"></div>

    <div class="header-left">
        <ion-menu-button autoHide="true" >  <img src="\assets/headerimgs/menu-bulets.png"   height="25"> </ion-menu-button> 
       <label class="page-title"> {{ 'See' | translate }} </label>
    </div>
    </ion-toolbar>
</ion-header>


<ion-content>  
       
  <div (click)="streamvideo('https://vps.alsader.net/%D9%85%D9%83%D8%AA%D8%A8%D8%A9/maktaba-edited.mp4')" class="home-box" >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/wasaekyatvideo-icon.png" width="50" height="45">
      </div>
      <div  class="home-box-title">{{ 'almaktaba' | translate }}</div>
  </div>
</ion-content>