<ion-header>
  <ion-toolbar >
    <div class="header-right">
      <img src="\assets/headerimgs/sayed-top-header.png" height="100">
      <hr>
    </div>

    <div class="header-middle">
      <img src="\assets/headerimgs/Logo.png">
    </div>

    <div class="header-left">
      <ion-menu-button autoHide="true" >  <img src="\assets/headerimgs/menu-bulets.png"   height="25"> </ion-menu-button>
      <label class="page-title">السيد الشهيد مؤمل الصدر</label>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="sera-content">
    <h2 class="sera-title">السيد الشهيد مؤمل الصدر</h2>
    السيد مؤمل الصدر  من مواليد 1971م، مُتزوّج من إحدى بنات السيد الشهيد محمد باقر الصدر وله أولاد (علي وإشراق).
    مَثَّل الشهيد الصدر في بعض المناسبات مثل احتفال الناصرية بمناسبة مولد الإمام الحسين وكان المرافق الدائم للشهيد الصدر وهو الذي يُباشر بقضاء حوائجه ويقود سيارته باستمرار إلا في حالات نادرة.
    كان أول أولاد السيد الذي تتلمذ على يده في بعض الكتب الحوزوية.
    وهو أول من أخذ علوم الأخلاق والباطن عن طريق والده مباشرة.
    وكانت مهمته الرئيسية بالإضافة إلى ما سبق توزيع الرواتب على الطلبة، وكان مُـجِدّاً في عمله مُثابِراً، لم يرهُ أحدٌ هازلاً قط. وكانت هناك معلومات مؤكّدة عن محاولةٍ لاغتياله، وقد وصلت عن طريق بعض الـمُتنفّذين الذين لهم علاقة ببعض ضباط قصر الطاغية. وكان السيد مؤمّل قبل ذلك يدرس الدروس الحوزوية ولكن من دون عمامة (هذا ما نلاحظه في العديد من الصور الذي يظهر بها الشهيد مؤمل الصدر)، فقام السيد الشهيد الصدر بتعميمه، وكان الغرض من ذلك أنه في حال حصول الحادث فإنه يصبح قضية حوزوية وليس غير ذلك، وكان السيد مؤمّل في تلك الأيام رابط الجأش، مـسلّماً لأمر والده، ولا يحتجُّ طرفة عينٍ عليه، ولم يفكر أحد في تهريبه، وكان غرض النظام من قتل السيد مؤمّل توجيه ضربة للسيد الشهيد الصدر بعد أن وصلت صلاة الجمعة إلى حدود لم يكن يتصوّرها القاصي والداني.
    وفي الجمعة التالية قال السيد الشهيد الصدر بعد الدعاء (ولدي… ولدي) وهي رسالة واضحة للجماهير أولاً وللنظام ثانياً بأن الأمر قد كشف، فحدثت اعتقالات ونقل بعض الضباط الذين كانوا على علم بالأمر وتم إلغاء العملية.
    تولى السيد مؤمّل مسؤولية الإشراف على أئمة الجُمع في العراق فكان على مستوى هذه المهمة، فقد كان يؤكّد على عدم الخضوع لأجهزة النظام، وعلى فعل المناسب، أو ما يراه إمام الجمعة من المصلحة مما فيه عزٌّ للمذهب.
    وفي يوم الشهادة كان هو السائق وبجانبه يجلس والده ووالد العراق والسيد مصطفى خلفهما في الساعة الأخيرة، فصعدت روحاهما الطاهرتان مع أبيهما إلى عِليّين، ودُفنا بجانبه كما كانا في الحياة بجانبه ولم يفارقاه، فسلام الله عليهما إذ كانا نعم الولدان البارّان المؤمنان الصابران.
  </div>

</ion-content>
