<ion-header>
  <ion-toolbar >
    <div class="header-right">
      <img src="\assets/headerimgs/sayed-top-header.png" height="100">
      <hr>
    </div>

    <div class="header-middle">
      <img src="\assets/headerimgs/Logo.png">
    </div>

    <div class="header-left">
      <ion-menu-button autoHide="true" >  <img src="\assets/headerimgs/menu-bulets.png"   height="25"> </ion-menu-button>
      <label class="page-title"> بعد الاستشهاد</label>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="note-content">
    <h2> {{ 'mualafatnotetitle' | translate }} </h2>
    <span>{{ 'mualafatnote' | translate }}</span>
  </div>
</ion-content>
