<ion-header>
  <ion-toolbar>
    <div class="header-right">
      <img src="\assets/headerimgs/search.png" height="70" >
      <hr>
    </div>

    <div class="header-middle">
      <img src="\assets/headerimgs/Logo.png"></div>
    <div class="header-left">
        <ion-menu-button autoHide="true" >  <img src="\assets/headerimgs/menu-bulets.png"   height="25"> </ion-menu-button>
       <label class="page-title"> بحث </label>
    </div>
    </ion-toolbar>
</ion-header>

<ion-content>

  <ion-searchbar debounce={1000} animated  placeholder="بحث" (ionInput)="getTopics($event)"></ion-searchbar>

<h2  class="search-result-title" [hidden]="searchClicked">نتائج البحث</h2>

<div   [hidden]="searchClicked" *ngFor="let v of voice">
  <div  *ngIf="v.category !='page' && v.category !='mp3' && v.category !='mp4'"  id="search-books" (click)="showLoader()" (click)="ac.downloadLL(v.link,v.title)"   class="home-box" >
<div class="home-box-img">
  <img  src="\assets/headerimgs/mualafat-icon.png" width="50" height="55">
  </div>
    <div  class="home-box-title">{{ v.title }}</div>
</div>
</div>
<div  [hidden]="searchClicked" *ngFor="let v of voice">
  <div  *ngIf="v.category !='mp3' && v.category !='mp4' && v.category !='pdf' "  id="search-books"  (click)="moveToPage(v.link)"  class="home-box" >
<div class="home-box-img">
  <img  src="\assets/headerimgs/masaelicon.png" width="50" height="55">
  </div>
    <div  class="home-box-title">{{ v.title }}</div>
</div>
</div>
<div  [hidden]="searchClicked" *ngFor="let v of voice">
  <div  *ngIf="v.category !='mp4' && v.category !='page'  && v.category !='pdf' "  id="search-books" (click)="streamaudio(v.link)"   class="home-box" >
<div class="home-box-img">
  <img  src="\assets/headerimgs/voice-icon.png" width="50" height="55">
  </div>
    <div  class="home-box-title">{{ v.title }}</div>
</div>
</div>
<div   [hidden]="searchClicked" *ngFor="let v of voice">
  <div  *ngIf="v.category !='page' && v.category !='mp3'  && v.category !='pdf' "  id="search-books" (click)="streamvideo(v.link)"   class="home-box" >
<div class="home-box-img">
  <img  src="\assets/headerimgs/wasaekyatvideo-icon.png" width="50" height="55">
  </div>
    <div  class="home-box-title">{{ v.title }}</div>
</div>
</div>

</ion-content>
