<ion-header>
  <ion-toolbar>
    <div class="header-right">
      <img src="\assets/headerimgs/khotab-sayed-top.png" height="70" >
      <hr>
    </div>

    <div class="header-middle">
      <img src="\assets/headerimgs/Logo.png"></div>
    <div class="header-left">
      <ion-menu-button autoHide="true" >  <img src="\assets/headerimgs/menu-bulets.png"   height="25"> </ion-menu-button>
      <label class="page-title">{{ 'jmaa33' | translate }} </label>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="text-content">
    <h2>7 شعبان 1419 </h2>
    <h3>دعاء الخطبة الاولى</h3>
    <p>اعوذ بالله من الشيطان اللعين الرجيم توكلت على الله رب العالمين وصلى الله على خير خلقه محمد واله اجمعين
      بسم الله الرحمن الرحيم
      اللهم صل على محمد وال محمد واسمع دعائي اذا دعوتك واسمع ندائي اذا ناديتك واقبل علي اذا ناجيتك فقد هربت اليك ووقفت بين يديك مستكينا لك متضرعا اليك راجيا لما لديك ثوابي وتعلم ما في نفسي وتخبر حاجتي وتعرف ضميري ولا يخفى عليك شيء ولا يخفى عليك امر منقلبي ومثواي وما اريد ان ابدأ به من منطقي واتفوه به من طلبتي وارجوه لعاقبتي وقد جرت مقاديرك علي يا سيدي فيما يكون مني الى اخر عمري من سريرتي وعلانيتي وبيدك لا بيد غيرك زيادتي ونقصي ونفعي وضري الهي ان حرمتني فمن ذا الذي يرزقني وان خذلتني فمن ذا الذي ينصرني. الهي اعوذ بك من غضبك وحلول سخطك. الهي ان كنت غير مستأهل لرحمتك فانت اهل ان تجود علي بفضل سعتك الهي كأني بنفسي واقفة بين يديك وقد اظلها حسن توكلي عليك فقلت ما انت اهله وتغمدتني بعفوك. الهي ان عفوت فمن اولى منك بذلك وان كان قد دنى اجلي ولم يدنني منك عملي فقد جعلت الاقرار بالذنب اليك وسيلتي. الهي قد جرت على نفسي في النظر لها فلها الويل ان لم تغفر لها. الهي لم يزل برك علي ايام حياتي فلا تقطع برك عني في مماتي. الهي كيف آيس من حسن نظرك لي بعد مماتي وانت لم تولني الا الجميل في حياتي. </p>
    <h3>دعاء الخطبة الثانية </h3>
    <p>اعوذ بالله من الشيطان اللعين الرجيم توكلت على الله رب العالمين وصلى الله على خير خلقه محمد واله اجمعين
      بسم الله الرحمن الرحيم
      الهي ان كان صغر في جنب طاعتك عملي فقد كبر في جنب رجاءك املي. الهي كيف انقلب من عندك بالخيبة محروما وقد كان حسن ظني بجودك ان تقلبني بالنجاة مرحوما. الهي وقد افنيت عمري في شرة السهو عنك وابليت شبابي في سكرة التباعد منك. الهي فلم استيقظ ايام اغتراري بك وركوني الى سبيل سخطك. الهي وانا عبدك وبن عبديك قائم بين يديك متوسل بكرمك اليك. الهي انا عبد اتنصل اليك مما كنت اواجهك به من قلة استحيائي من نظرك واطلب العفو منك اذ العفو نعت لكرمك. الهي لم يكن لي حول فانتقل به عن معصيتك الا في وقت ايقظتني لمحبتك وكما اردت ان اكون كنت فشكرتك بادخالي في كرمك ولتطهير قلبي من اوساخ الغفلة عنك. الهي انظر الي نظر من ناديته فاجابك واستعملته بمعونتك فاطاعك يا قريبا لا يبعد عن المغتر به ويا جوادا لا يبخل عمن رجا ثوابه. الهي هب لي قلبا يدنيه منك شوقه ولسانا يرفع اليك صدقه ونظرا يقربه منك حقه. الهي ان من تعرف بك غير مجهول ومن لاذ بك غير مخذول ومن اقبلت عليه غير مملول. الهي ان من انتهج بك لمستنير وان من اعتصم بك لمستجير. يا الهي فلا تخيب ظني من رحمتك ولا تحجبني من رأفتك. </p>
  </div>
</ion-content>
