<ion-header>
  <ion-toolbar>
    <div class="header-right">
      <img src="\assets/headerimgs/lekaatmareya-top.png" height="70" >
      <hr>
    </div>
    
    <div class="header-middle">
      <img src="\assets/headerimgs/Logo.png"></div>
    <div class="header-left">
        <ion-menu-button autoHide="true" >  <img src="\assets/headerimgs/menu-bulets.png"   height="25"> </ion-menu-button> 
       <label class="page-title"> اللقاءات المرئية</label>
    </div>
    </ion-toolbar>
</ion-header>

<ion-content>  
       
    <div  (click)="streamvideo('https://dl.dropboxusercontent.com/sh/b7gyhc4dk75i34i/AAClCOITiaS3iWHxOXwWQ2VGa/jom3a/lika2hanana.mp4')" class="home-box" >
      <div class="home-box-img">
        <img  src="\assets/headerimgs/lekaatmareya-icon.png" width="50" height="45">
        </div>
        <div  class="home-box-title">لقاء الحنانة</div>
    </div>
    <div (click)="streamvideo('https://dl.dropboxusercontent.com/sh/b7gyhc4dk75i34i/AACZAZ0CTTU7j9txukxgKjera/jom3a/daraji.mp4')" class="home-box" >
      <div class="home-box-img">
        <img  src="\assets/headerimgs/lekaatmareya-icon.png" width="50" height="45">
        </div>
        <div  class="home-box-title">لقاء الدراجي</div>
    </div>
  
</ion-content>

