<ion-header>
  <ion-toolbar>
    <div class="header-right">
      <img src="\assets/headerimgs/khotab-sayed-top.png" height="70" >
      <hr>
    </div>
    
    <div class="header-middle">
      <img src="\assets/headerimgs/Logo.png"></div>
    <div class="header-left">
        <ion-menu-button autoHide="true" >  <img src="\assets/headerimgs/menu-bulets.png"   height="25"> </ion-menu-button> 
       <label class="page-title">{{ 'jmaa12' | translate }} </label>
    </div>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div   class="text-content">

  <h2>
    ٨ ربيع الاول ١٤١٩  

  </h2>

  <h3>
    دعاء الخطبة الاولى
  </h3>  

  <p>
    اعوذ بالله من الشيطان اللعين الرجيم
    توكلت على الله رب العالمين وصلى الله على خير خلقه محمد واله اجمعين
    يا من امر بالعفو والتجاوز وضمن نفسه العفو والتجاوز يا من عفى وتجاوز اعف عني وتجاوز يا كريم.
    اللهم وقد اكدى الطلب واعيت الحيلة والمذهب ودرست الامال وانقطع الرجاء الا منك وحدك لا شريك لك.
    اللهم اني اجد سبل المطالب اليك مشرعة ومناهل الرجاء لديك مترعة وابواب الدعاء لمن دعاك مفتحة والاستعانة لمن استعان بك مباحة واعلم انك لداعيك بموضع اجابة وللصارخ اليك بمرصد اغاثة وان في اللهف الى جودك والضمان بعدتك عوضا من منع الباخلين ومندوحة عما في ايدي المستأثرين وانك لا تحتجب عن خلقك الا ان تحجبهم الاعمال دونك وقد علمت ان افضل زاد الراحل اليك عزم ارادة يختارك بها وقد ناجاك بعزم الارادة قلبي (اذا كنت صادقا فيما اقول) واسألك بكل دعوة دعاك بها راج بلغته امله او صارخ اليك اغثت صرخته او ملهوف مكروب فرجت كربه او مذنب خاطيء غفرت له او معافىً اتممت نعمتك عليه او فقير هديت غناك اليه ولتلك الدعوة عليك حق وعندك منزلة الا صليت على محمد وال محمد وقضيت حوائجي حوائج الدنيا والاخرة.
    الحمد لله الذي لم يتخذ ولدا ولم يكن له شريك في الملك ولم يكن له ولي من الذل وكبره تكبيرا.
    يا عدتي في مدتي يا صاحبي في شدتي يا وليي في نعمتي يا غياثي في رغبتي يا نجاحي في حاجتي يا حافظي في غيبتي يا كافيَّ في وحدتي يا انسي في وحشتي انت الساتر عورتي فلك الحمد وانت المقيل عثرتي فلك الحمد وانت المنعش صرعتي فلك الحمد. صل على محمد وال محمد واستر عورتي وامن روعتي واقلني عثرتي واصفح عن جرمي وتجاوز عن سيئاتي في اصحاب الجنة وعد الصدق الذي كانوا يوعدون.
    
  </p>

  <h3>
    دعاء الخطبة الثانية
  </h3>

  <p>
    اعوذ بالله من الشيطان اللعين الرجيم

    بسم الله الرحمن الرحيم
سبحان الله والحمد لله ولا اله الا الله والله اكبر ولا حول ولا قوة الا بالله العلي العظيم. سبحان الله آناء الليل واطراف النهار. سبحان الله بالغدو والاصال سبحان الله بالعشي والابكار. سبحان الله حين تمسون وحين تصبحون وله الحمد في السماوات والارض وعشيا وحين تظهرون. يخرج الحي من الميت ويخرج الميت من الحي ويحيي الارض بعد موتها وكذلك تخرجون. سبحان ربك رب العزة عما يصفون وسلام على المرسلين والحمد لله رب العالمين. سبحان ذي الملك والملكوت. سبحان ذي العزة والجبروت. سبحان ذي الكبرياء والعظمة الملك الحق المبين القدوس. سبحان الله الملك الحي الذي لايموت. سبحان الله الملك الحي القدوس. سبحان القائم الدائم. سبحان الدائم القائم. سبحان ربي العظيم. سبحان ربي الاعلى. سبحان الحي القيوم. سبحان العلي الاعلى. سبحانه وتعالى. سبوح قدوس ربنا ورب الملائكة والروح. سبحان الدائم غير الغافل. سبحان العالم بغير تعليم. سبحان خالق ما يرى وما لا يرى. سبحان الذي يدرك الابصار ولا تدركه الابصار وهو اللطيف الخبير.

  </p>


</div>
</ion-content>
