
.home-box-img img{height: 100%;}
 .home-box-title {
   position: relative;
    right: -26px;
    color: #fff;
    top: -21px;
    width: 225px;
    font-size: 19px;
}
.home-box-img {
   position: relative;
    left: 119px;
    top: 10px;
    height: 44px;
}
.khtb-jmaa-icon{
  height: 150% !important;
  margin-top: -5px;
}
