<ion-header>
  <ion-toolbar>
    <div class="header-right">
      <img src="\assets/headerimgs/khotab-sayed-top.png" height="70" >
      <hr>
    </div>

    <div class="header-middle">
      <img src="\assets/headerimgs/Logo.png"></div>
    <div class="header-left">
      <ion-menu-button autoHide="true" >  <img src="\assets/headerimgs/menu-bulets.png"   height="25"> </ion-menu-button>
      <label class="page-title"> {{ 'lekaatread' | translate }} </label>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
<!--  <div (click)="moveToPage('lekaaldaraji')" class="home-box" >-->
<!--    <div class="home-box-img">-->
<!--      <img class="icon"  src="\assets/headerimgs/masaelicon.png" width="50" height="45">-->
<!--    </div>-->
<!--    <div  class="home-box-title"> لقاء الدراجي</div>-->
<!--  </div>-->
<!--  <div (click)="moveToPage('lekaa-hanana-eqra2')" class="home-box" >-->
<!--    <div class="home-box-img">-->
<!--      <img class="icon"  src="\assets/headerimgs/masaelicon.png" width="50" height="45">-->
<!--    </div>-->
<!--    <div  class="home-box-title"> لقاء الحنانة  </div>-->
<!--  </div>-->
  <div (click)="moveToPage('lekaa-hanana-eqra2-j1')" class="home-box" >
    <div class="home-box-img">
      <img class="icon"  src="\assets/headerimgs/masaelicon.png" width="50" height="45">
    </div>
    <div  class="home-box-title"> لقاء الحنانة الأول   </div>
  </div>
  <div (click)="moveToPage('lekaa-hanana-eqra2-j2')" class="home-box" >
    <div class="home-box-img">
      <img class="icon"  src="\assets/headerimgs/masaelicon.png" width="50" height="45">
    </div>
    <div  class="home-box-title"> لقاء الحنانة الثاني  </div>
  </div>
  <div (click)="moveToPage('lekaa-hanana-eqra2-j3')"  class="home-box" >
    <div class="home-box-img">
      <img class="icon"  src="\assets/headerimgs/masaelicon.png" width="50" height="45">
    </div>
    <div  class="home-box-title"> لقاء الحنانة الثالث  </div>
  </div>
  <div (click)="moveToPage('lekaa-hanana-eqra2-j4')"  class="home-box" >
    <div class="home-box-img">
      <img class="icon"  src="\assets/headerimgs/masaelicon.png" width="50" height="45">
    </div>
    <div  class="home-box-title"> لقاء الحنانة الرابع  </div>
  </div>
  <div (click)="moveToPage('lekaa-hanana-eqra2-j5')"  class="home-box" >
    <div class="home-box-img">
      <img class="icon"  src="\assets/headerimgs/masaelicon.png" width="50" height="45">
    </div>
    <div  class="home-box-title"> لقاء الحنانة الخامس  </div>
  </div>
  <div (click)="moveToPage('lekaaemtjmaa')" class="home-box" >
    <div class="home-box-img">
      <img class="icon"  src="\assets/headerimgs/masaelicon.png" width="50" height="45">
    </div>
    <div  class="home-box-title">  لقاء أئمة الجمعة </div>
  </div>
  <div  class="home-box" (click)="moveToPage('lekaat-metwalen')">
    <div class="home-box-img">
      <img class="icon"  src="\assets/headerimgs/masaelicon.png" width="50" height="45">
    </div>
    <div  class="home-box-title">لقاء السيد الشهيد (قدس سره) مع المتولين على المدارس الدينية </div>
  </div>
  <div (click)="moveToPage('hewar1')" class="home-box" >
    <div class="home-box-img">
      <img class="icon"  src="\assets/headerimgs/masaelicon.png" width="50" height="45">
    </div>
    <div  class="home-box-title">اللقاء الصوتي الأول للسيد الشهيد محمد الصدر</div>
  </div>
  <div (click)="moveToPage('hewar2')" class="home-box" >
    <div class="home-box-img">
      <img class="icon"  src="\assets/headerimgs/masaelicon.png" width="50" height="45">
    </div>
    <div  class="home-box-title">اللقاء الصوتي الثاني للسيد الشهيد محمد الصدر</div>
  </div>
  <div (click)="moveToPage('hewar3')" class="home-box" >
    <div class="home-box-img">
      <img class="icon"  src="\assets/headerimgs/masaelicon.png" width="50" height="45">
    </div>
    <div  class="home-box-title">اللقاء الصوتي الثالث للسيد الشهيد محمد الصدر</div>
  </div>
  <div (click)="moveToPage('hewar4')" class="home-box" >
    <div class="home-box-img">
      <img class="icon"  src="\assets/headerimgs/masaelicon.png" width="50" height="45">
    </div>
    <div  class="home-box-title">اللقاء الصوتي الرابع للسيد الشهيد محمد الصدر</div>
  </div>
  <div (click)="moveToPage('hewar5')" class="home-box" >
    <div class="home-box-img">
      <img class="icon"  src="\assets/headerimgs/masaelicon.png" width="50" height="45">
    </div>
    <div  class="home-box-title">اللقاء الصوتي الخامس للسيد الشهيد محمد الصدر</div>
  </div>
  <div (click)="moveToPage('hewar6')" class="home-box" >
    <div class="home-box-img">
      <img class="icon"  src="\assets/headerimgs/masaelicon.png" width="50" height="45">
    </div>
    <div  class="home-box-title">اللقاء الصوتي السادس للسيد الشهيد محمد الصدر</div>
  </div>
  <div (click)="moveToPage('hewar7')" class="home-box" >
    <div class="home-box-img">
      <img class="icon"  src="\assets/headerimgs/masaelicon.png" width="50" height="45">
    </div>
    <div  class="home-box-title">اللقاء الصوتي السابع للسيد الشهيد محمد الصدر</div>
  </div>
  <div (click)="moveToPage('lekamajltalhuda')" class="home-box" >
    <div class="home-box-img">
      <img class="icon"  src="\assets/headerimgs/masaelicon.png" width="50" height="45">
    </div>
    <div  class="home-box-title">لقاء مجلة الهدى بالسيد الشهيد (قدس سره)</div>
  </div>
</ion-content>
