<ion-header>
  <ion-toolbar>
    <div class="header-right">
      <img src="\assets/headerimgs/voice-top.png" width="83" height="50" x="100">
      <hr>
    </div>

    <div class="header-middle">
      <img src="\assets/headerimgs/Logo.png"></div>

    <div class="header-left">
        <ion-menu-button autoHide="true" >  <img src="\assets/headerimgs/menu-bulets.png"   height="25"> </ion-menu-button>
       <label class="page-title"> الأصول</label>
    </div>
    </ion-toolbar>
</ion-header>


<ion-content>
  <div  (click)="moveToPage('alusul1415')" class="home-box" >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/voice-icon.png" width="50" height="55">
      </div>
      <div  class="home-box-title">أصول سنة ١٤١٥</div>
   </div>
  <div  (click)="moveToPage('alusul14216')" class="home-box" >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/voice-icon.png" width="50" height="55">
      </div>
      <div  class="home-box-title">أصول سنة ١٤١٦</div>
   </div>
   <div  (click)="moveToPage('alusul1417')" class="home-box" >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/voice-icon.png" width="50" height="55">
      </div>
      <div  class="home-box-title">أصول سنة ١٤١٧</div>
   </div>
   <div  (click)="moveToPage('alusul1418')" class="home-box" >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/voice-icon.png" width="50" height="55">
      </div>
      <div  class="home-box-title">أصول سنة ١٤١٨</div>
   </div>
   <div  (click)="moveToPage('alusul1419')" class="home-box" >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/voice-icon.png" width="50" height="55">
      </div>
      <div  class="home-box-title">أصول سنة ١٤١٩</div>
   </div>
</ion-content>
