.header-right img{height: 96px;    right: 15px;
    top: 7px;
    width: 75px;}

.salat-content{margin-top:25px;    text-align: center;}
iframe#iframe2 {
    background: #0C89A4 !important;
    height: 430px !important;
}
span {
    color: #0c89a4 !important;
    font-size: 27px;
}
.HH-pray-time-con {
    direction: rtl;
}