<ion-header>
  <ion-toolbar>
    <div class="header-right">
      <img src="\assets/headerimgs/mawaketsalat-box.png" width="69" height="50" x="100">
      <hr>
    </div>
    
    <div class="header-middle">
      <img src="\assets/headerimgs/Logo.png"></div>

    <div class="header-left">
        <ion-menu-button autoHide="true" >  <img src="\assets/headerimgs/menu-bulets.png"   height="25"> </ion-menu-button>  
       <label class="page-title"> {{ 'home16' | translate }} </label>
    </div>
    </ion-toolbar>
</ion-header>


<ion-content> 
    <div class="salat-content">
        <!-- <iframe id="iframe2" style="background: rgb(255, 255, 255); border: 0px solid rgb(238, 238, 238); width: 100%; overflow: hidden; height: 444px;" src="https://timesprayer.today/widget_frame.php?frame=2&sound=false&id=451&theme=w3-light-blue&prayerMethod=8&changecity=false"></iframe> -->
        <iframe id="iframe2" style="background: rgb(255, 255, 255); border: 0px solid rgb(238, 238, 238); width: 100%; overflow: hidden; height: 446px;" src="https://timesprayer.today/widget_frame.php?frame=2&id=8380&sound=false&prayerMethod=6&changecity=false&tformat=1&theme=w3-light-blue"></iframe>
  </div>
</ion-content>
