<ion-header>
  <ion-toolbar>
    <div class="header-right">
      <img src="\assets/headerimgs/khotab-sayed-top.png" height="70" >
      <hr>
    </div>

    <div class="header-middle">
      <img src="\assets/headerimgs/Logo.png"></div>
    <div class="header-left">
      <ion-menu-button autoHide="true" >  <img src="\assets/headerimgs/menu-bulets.png"   height="25"> </ion-menu-button>
      <label class="page-title">{{ 'jmaa36' | translate }} </label>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let c of content"  class="text-content">
<h2>{{c.title}}</h2>
<h3>{{c.titleP1}}</h3>  
<p>{{c.p1}}</p>
<h3>{{c.titleP2}}</h3>
<p>{{c.p2}}</p>
</div>
</ion-content>
