<ion-header>
  <ion-toolbar>
    <div class="header-right">
      <img src="\assets/headerimgs/khotab-sayed-top.png" height="70" >
      <hr>
    </div>
    
    <div class="header-middle">
      <img src="\assets/headerimgs/Logo.png"></div>
    <div class="header-left">
        <ion-menu-button autoHide="true" >  <img src="\assets/headerimgs/menu-bulets.png"   height="25"> </ion-menu-button> 
       <label class="page-title">{{ 'jmaa1' | translate }}  </label>
    </div>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div   class="text-content">
  <h2>١٩  ذو الحجة ١٤١٨ هـ</h2>
  <h3>دعاء الخطبة الاولى</h3>  
  <p>اعوذ بالله من الشيطان اللعين الرجيم
    نتبرك اولا بقراءة سورة الفاتحة على ارواح المؤمنين والمؤمنات
    
                                  بسم الله الرحمن الرحيم  
    
    انا افتتح هذا الموسم المقدس بقراءة فقرات من دعاء الافتتاح 
    بسم الله الرحمن الرحيم
    
    اللهم اني افتتح الثناء بحمدك وانت مسدد للصواب بمنك وايقنت انك انت ارحم الراحمين في موضع العفو والرحمة واشد المعاقبين في موضع النكال والنقمة واعظم المتجبرين في موضع الكبرياء والعظمة ، اللهم اذنت لي في دعائك ومسألتك فاسمع يا سميع مدحتي واجب يا رحيم دعوتي واقل يا غفور عثرتي فكم يا الهي من كربة قد فرجتها وهموم قد كشفتها وعثرة قد اقلتها ورحمة قد نشرتها وحلقة بلاء قد فككتها.
    
    الحمد لله الذي لم يتخذ صاحبة ولا ولدا ولم يكن له شريك في الملك ولم يكن له ولي من الذل وكبره تكبيرا ، الحمد لله بجميع محامده كلها على جميع نعمه كلها الحمد لله الذي لا مضاد له في ملكه ولا منازع له في امره ، الحمد لله الفاشي في الخلق امره وحمده الظاهر بالكرم مجده الباسط بالجود يده الذي لا تنقص خزائنه ولا تزيده كثرة العطاء الا جودا وكرما انه هو العزيز الوهاب .</p>
  <h3>دعاء الخطبة الثانية</h3>
  <p>اعوذ بالله من الشيطان اللعين الرجيم

    بسم الله الرحمن الرحيم

سبحان الله والحمد لله ولا اله الا الله والله اكبر ولا حول ولا قوة الا بالله العلي العظيم ، سبحان الله آناء الليل و اطراف النهار ، سبحان الله في الغدو والاصال. سبحان الله بالعشي والابكار ، سبحان الله حين تمسون وحين تصبحون وله الحمد في السماوات والارض وعشيا وحين تظهرون ، يخرج الحي من الميت ويخرج الميت من الحي ويحيي الارض بعد موتها وكذلك تخرجون ، سبحان ربك رب العزة عما يصفون والحمد لله رب العالمين ، وسلام الله على المرسلين والحمد لله رب العالمين ، سبحان ذي الملك والملكوت ، سبحان ذي العزة والجبروت ، سبحان ذي الكبرياء والعظمة، الملك الحق المبين القدوس ، سبحان الله الملك الحي الذي لا يموت ، سبحان الله الملك الحي القدوس ، سبحان القائم الدائم ، سبحان الدائم القائم ، سبحان ربي العظيم ، سبحان ربي الاعلى ، سبحان الحي القيوم ، سبحان العلي الاعلى ، سبحانه وتعالى ، سبوح قدوس ، ربنا ورب الملائكة والروح ، سبحان الدائم غير الغافل ، سبحان العالم بغير تعليم ، سبحان خالق ما يرى وما لا يرى ، سبحان الله الذي يدرك الابصار ولا تدركه الابصار وهو اللطيف الخبير
</p>
</div>
</ion-content>
