<ion-header>
  <ion-toolbar>
    <div class="header-right">
      <img src="\assets/headerimgs/voice-top.png" width="83" height="50" x="100">
      <hr>
    </div>
    
    <div class="header-middle">
      <img src="\assets/headerimgs/Logo.png"></div>

    <div class="header-left">
        <ion-menu-button autoHide="true" >  <img src="\assets/headerimgs/menu-bulets.png"   height="25"> </ion-menu-button> 
       <label class="page-title"> أصول سنة ١٤١٦</label>
    </div>
    </ion-toolbar>
</ion-header>

<ion-content>
  <div  (click)="moveToPage('alusul-shaher-muharam')" class="home-box" >  
    <div class="home-box-img">
      <img  src="\assets/headerimgs/voice-icon.png" width="50" height="55">
      </div>
      <div  class="home-box-title">شهر محرم</div>
   </div>
   <div  (click)="moveToPage('alusul-sefer')" class="home-box" >  
    <div class="home-box-img">
      <img  src="\assets/headerimgs/voice-icon.png" width="50" height="55">
      </div>
      <div  class="home-box-title">صفر</div>
   </div>
   <div  (click)="moveToPage('alusul-sabe3-alawal')" class="home-box" >  
    <div class="home-box-img">
      <img  src="\assets/headerimgs/voice-icon.png" width="50" height="55">
      </div>
      <div  class="home-box-title">ربيع أول</div>
   </div>
   <div  (click)="moveToPage('alusul-rabe3-altane')" class="home-box" >  
    <div class="home-box-img">
      <img  src="\assets/headerimgs/voice-icon.png" width="50" height="55">
      </div>
      <div  class="home-box-title">ربيع ثاني</div>
   </div>
   <div  (click)="moveToPage('alusul-jamade-awal')" class="home-box" >  
    <div class="home-box-img">
      <img  src="\assets/headerimgs/voice-icon.png" width="50" height="55">
      </div>
      <div  class="home-box-title">جمادي أول</div>
   </div>
   <div  (click)="moveToPage('alusul-jamade-tane')" class="home-box" >  
    <div class="home-box-img">
      <img  src="\assets/headerimgs/voice-icon.png" width="50" height="55">
      </div>
      <div  class="home-box-title">جمادي ثاني</div>
   </div>
   <div  (click)="moveToPage('alusul-rajab')" class="home-box" >  
    <div class="home-box-img">
      <img  src="\assets/headerimgs/voice-icon.png" width="50" height="55">
      </div>
      <div  class="home-box-title">رجب</div>
   </div>
   <div  (click)="moveToPage('alusul-shaaban')" class="home-box" >  
    <div class="home-box-img">
      <img  src="\assets/headerimgs/voice-icon.png" width="50" height="55">
      </div>
      <div  class="home-box-title">شعبان</div>
   </div>
   <div  (click)="moveToPage('alusul-shawal')" class="home-box" >  
    <div class="home-box-img">
      <img  src="\assets/headerimgs/voice-icon.png" width="50" height="55">
      </div>
      <div  class="home-box-title">شوال</div>
   </div>
   <div  (click)="moveToPage('alusul-zelka3da')" class="home-box" >  
    <div class="home-box-img">
      <img  src="\assets/headerimgs/voice-icon.png" width="50" height="55">
      </div>
      <div  class="home-box-title">ذي القعدة </div>
   </div>
   <div  (click)="moveToPage('alusul-zel7eja')" class="home-box" >  
    <div class="home-box-img">
      <img  src="\assets/headerimgs/voice-icon.png" width="50" height="55">
      </div>
      <div  class="home-box-title">ذي الحجة</div>
   </div>
</ion-content>
