<ion-header>
  <ion-toolbar>
    <div class="header-right">
      <img src="\assets/headerimgs/khotab-sayed-top.png" height="70" >
      <hr>
    </div>

    <div class="header-middle">
      <img src="\assets/headerimgs/Logo.png"></div>
    <div class="header-left">
      <ion-menu-button autoHide="true" >  <img src="\assets/headerimgs/menu-bulets.png"   height="25"> </ion-menu-button>
      <label class="page-title">{{ 'jmaa31' | translate }} </label>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="text-content">
    <h2>23 رجب 1419 هـ </h2>
    <h3>
      دعاء الخطبة الاولى </h3>
    <p> بِسْمِ اللَّهِ الرَّحْمَنِ الرَّحِيمِ
      لا اله الا الله قبل كل أحد و لا اله الا الله بعد كل أحد و لا اله الا الله مع كل أحد و لا اله الا الله يبقى ربنا ويفنى كل أحد و لا اله الا الله تهليلا يفضل تهليل المهللين فضلا كثيرا قبل كل أحد و لا اله الا الله تهليلا يفضل تهليل المهللين فضلا كثيرا بعد كل أحد و لا اله الا الله تهليلا يفضل تهليل المهللين فضلا كثيرا مع كل أحد و لا اله الا الله تهليلا يفضل تهليل المهللين فضلا كثيرا لربنا الباقي ويفنى كل أحد و لا اله الا الله تهليلا لا يحصى ولا يدرى ولا ينسى ولا يبلى ولا يفنى وليس له منتهى و لا اله الا الله تهليلا يدوم بدوامه ويبقى ببقائه في سني العالمين وشهور الدهور وأيام الدنيا وساعات الليل والنهار و لا اله الا الله أبد الآبدين و لا اله الا الله أبد الأبد ومع الأبد مما لا يحصيه العدد ولا يفنيه الأمد ولا يقطعه الأبد وتبارك الله احسن الخالقين .</p>
    <h3>دعاء الخطبة الثانية </h3>
    <p>اعوذ بالله من الشيطان اللعين الرجيم توكلت على الله رب العالمين وصلى الله على خير خلقه محمد واله اجمعين


      بِسْمِ اللَّهِ الرَّحْمَنِ الرَّحِيمِ
      ألله اكبر قبل كل أحد و الله اكبر بعد كل أحد و الله اكبر مع كل أحد و الله اكبر يبقى ربنا ويفنى كل أحد و الله اكبر تكبيرا يفضل تكبير المكبرين فضلا كثيرا قبل كل أحد و الله اكبر تكبيرا يفضل تكبير المكبرين فضلا كثيرا بعد كل أحد و الله اكبر تكبيرا يفضل تكبير المكبرين فضلا كثيرا مع كل أحد و الله اكبر تكبيرا يفضل تكبير المكبرين فضلا كثيرا لربنا الباقي ويفنى كل أحد والله اكبر تكبيرا لا يحصى ولا يدرى ولا ينسى ولا يبلى ولا يفنى وليس له منتهى والله اكبر تكبيرا يدوم بدوامه ويبقى ببقائه في سني العالمين وشهور الدهور وايام الدنيا وساعات الليل والنهار والله اكبر أبد الآبدين أبد الأبد ومع الأبد مما لا يحصيه العدد ولا يفنيه الأمد ولا يقطعه الأبد وتبارك الله احسن الخالقين</p>
  </div>
</ion-content>
