<ion-header>
  <ion-toolbar>
    <div class="header-right">
      <img src="\assets/headerimgs/khotab-sayed-top.png" height="70" >
      <hr>
    </div>

    <div class="header-middle">
      <img src="\assets/headerimgs/Logo.png"></div>
    <div class="header-left">
      <ion-menu-button autoHide="true" >  <img src="\assets/headerimgs/menu-bulets.png"   height="25"> </ion-menu-button>
      <label class="page-title"> {{ 'read' | translate }} </label>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab  [hidden]="forwardshow" (click)="forwardLink()"  bottom right #fab>
    <button ion-fab>
      <ion-icon   name="ios-redo"></ion-icon>
    </button>
  </ion-fab>
  <div (click)="getlink('khotabalsayed-ad3eya-ekraa1')" (click)="moveToPage('khotabalsayed-ad3eya-ekraa1')" class="home-box"  >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/masaelicon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa1' | translate }}</div>
  </div>
  <div (click)="getlink('khotabalsayed-ad3eya-ekraa2')" (click)="moveToPage('khotabalsayed-ad3eya-ekraa2')" class="home-box"  >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/masaelicon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa2' | translate }}</div>
  </div>
  <div (click)="getlink('khotabalsayed-ad3eya-ekraa3')" (click)="moveToPage('khotabalsayed-ad3eya-ekraa3')" class="home-box"  >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/masaelicon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa3' | translate }}</div>
  </div>
  <div (click)="getlink('khotabalsayed-ad3eya-ekraa4')" (click)="moveToPage('khotabalsayed-ad3eya-ekraa4')" class="home-box"  >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/masaelicon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa4' | translate }}</div>
  </div>
  <div (click)="getlink('khotabalsayed-ad3eya-ekraa5')" (click)="moveToPage('khotabalsayed-ad3eya-ekraa5')" class="home-box"  >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/masaelicon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa5' | translate }}</div>
  </div>
  <div (click)="getlink('khotabalsayed-ad3eya-ekraa6')" (click)="moveToPage('khotabalsayed-ad3eya-ekraa6')" class="home-box"  >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/masaelicon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa6' | translate }}</div>
  </div>
  <div (click)="getlink('khotabalsayed-ad3eya-ekraa7')" (click)="moveToPage('khotabalsayed-ad3eya-ekraa7')" class="home-box"  >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/masaelicon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa7' | translate }}</div>
  </div>
  <div (click)="getlink('khotabalsayed-ad3eya-ekraa8')" (click)="moveToPage('khotabalsayed-ad3eya-ekraa8')" class="home-box"  >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/masaelicon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa8' | translate }}</div>
  </div>
  <div (click)="getlink('khotabalsayed-ad3eya-ekraa9')" (click)="moveToPage('khotabalsayed-ad3eya-ekraa9')" class="home-box"  >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/masaelicon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa9' | translate }}</div>
  </div>
  <div (click)="getlink('khotabalsayed-ad3eya-ekraa10')" (click)="moveToPage('khotabalsayed-ad3eya-ekraa10')" class="home-box"  >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/masaelicon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa10' | translate }} </div>
  </div>
  <div (click)="getlink('khotabalsayed-ad3eya-ekraa11')" (click)="moveToPage('khotabalsayed-ad3eya-ekraa11')" class="home-box"  >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/masaelicon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa11' | translate }} </div>
  </div>
  <div (click)="getlink('khotabalsayed-ad3eya-ekraa12')" (click)="moveToPage('khotabalsayed-ad3eya-ekraa12')" class="home-box"  >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/masaelicon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa12' | translate }} </div>
  </div>
  <div (click)="getlink('khotabalsayed-ad3eya-ekraa13')" (click)="moveToPage('khotabalsayed-ad3eya-ekraa13')" class="home-box"  >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/masaelicon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa13' | translate }} </div>
  </div>
  <div (click)="getlink('khotabalsayed-ad3eya-ekraa14')" (click)="moveToPage('khotabalsayed-ad3eya-ekraa14')" class="home-box"  >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/masaelicon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa14' | translate }} </div>
  </div>
  <div (click)="getlink('khotabalsayed-ad3eya-ekraa15')" (click)="moveToPage('khotabalsayed-ad3eya-ekraa15')" class="home-box"  >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/masaelicon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa15' | translate }} </div>
  </div>
  <div (click)="getlink('khotabalsayed-ad3eya-ekraa16')" (click)="moveToPage('khotabalsayed-ad3eya-ekraa16')" class="home-box"  >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/masaelicon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa16' | translate }} </div>
  </div>
  <div (click)="getlink('khotabalsayed-ad3eya-ekraa17')" (click)="moveToPage('khotabalsayed-ad3eya-ekraa17')" class="home-box"  >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/masaelicon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa17' | translate }} </div>
  </div>
  <div (click)="getlink('khotabalsayed-ad3eya-ekraa18')" (click)="moveToPage('khotabalsayed-ad3eya-ekraa18')" class="home-box"  >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/masaelicon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa18' | translate }} </div>
  </div>
  <div (click)="getlink('khotabalsayed-ad3eya-ekraa19')" (click)="moveToPage('khotabalsayed-ad3eya-ekraa19')" class="home-box"  >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/masaelicon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa19' | translate }} </div>
  </div>
  <div (click)="getlink('khotabalsayed-ad3eya-ekraa20')" (click)="moveToPage('khotabalsayed-ad3eya-ekraa20')" class="home-box"  >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/masaelicon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa20' | translate }} </div>
  </div>
  <div (click)="getlink('khotabalsayed-ad3eya-ekraa21')" (click)="moveToPage('khotabalsayed-ad3eya-ekraa21')" class="home-box"  >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/masaelicon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa21' | translate }} </div>
  </div>
  <div (click)="getlink('khotabalsayed-ad3eya-ekraa22')" (click)="moveToPage('khotabalsayed-ad3eya-ekraa22')" class="home-box"  >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/masaelicon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa22' | translate }} </div>
  </div>
  <div (click)="getlink('khotabalsayed-ad3eya-ekraa23')" (click)="moveToPage('khotabalsayed-ad3eya-ekraa23')" class="home-box"  >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/masaelicon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa23' | translate }} </div>
  </div>
  <div (click)="getlink('khotabalsayed-ad3eya-ekraa24')" (click)="moveToPage('khotabalsayed-ad3eya-ekraa24')" class="home-box"  >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/masaelicon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa24' | translate }} </div>
  </div>
  <div (click)="getlink('khotabalsayed-ad3eya-ekraa25')" (click)="moveToPage('khotabalsayed-ad3eya-ekraa25')" class="home-box"  >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/masaelicon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa25' | translate }} </div>
  </div>
  <div (click)="getlink('khotabalsayed-ad3eya-ekraa26')" (click)="moveToPage('khotabalsayed-ad3eya-ekraa26')" class="home-box"  >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/masaelicon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa26' | translate }} </div>
  </div>
  <div (click)="getlink('khotabalsayed-ad3eya-ekraa27')" (click)="moveToPage('khotabalsayed-ad3eya-ekraa27')" class="home-box"  >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/masaelicon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa27' | translate }} </div>
  </div>
  <div (click)="getlink('khotabalsayed-ad3eya-ekraa28')" (click)="moveToPage('khotabalsayed-ad3eya-ekraa28')" class="home-box"  >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/masaelicon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa28' | translate }} </div>
  </div>
  <div (click)="getlink('khotabalsayed-ad3eya-ekraa29')" (click)="moveToPage('khotabalsayed-ad3eya-ekraa29')" class="home-box"  >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/masaelicon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa29' | translate }} </div>
  </div>
  <div (click)="getlink('khotabalsayed-ad3eya-ekraa30')" (click)="moveToPage('khotabalsayed-ad3eya-ekraa30')" class="home-box"  >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/masaelicon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa30' | translate }} </div>
  </div>
  <div (click)="getlink('khotabalsayed-ad3eya-ekraa31')" (click)="moveToPage('khotabalsayed-ad3eya-ekraa31')" class="home-box"  >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/masaelicon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa31' | translate }} </div>
  </div>
  <div (click)="getlink('khotabalsayed-ad3eya-ekraa32')" (click)="moveToPage('khotabalsayed-ad3eya-ekraa32')" class="home-box"  >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/masaelicon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa32' | translate }} </div>
  </div>
  <div (click)="getlink('khotabalsayed-ad3eya-ekraa33')" (click)="moveToPage('khotabalsayed-ad3eya-ekraa33')" class="home-box"  >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/masaelicon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa33' | translate }} </div>
  </div>
  <div (click)="getlink('khotabalsayed-ad3eya-ekraa34')" (click)="moveToPage('khotabalsayed-ad3eya-ekraa34')" class="home-box"  >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/masaelicon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa34' | translate }} </div>
  </div>
  <div (click)="getlink('khotabalsayed-ad3eya-ekraa35')" (click)="moveToPage('khotabalsayed-ad3eya-ekraa35')" class="home-box"  >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/masaelicon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa35' | translate }} </div>
  </div>
  <div (click)="getlink('khotabalsayed-ad3eya-ekraa36')" (click)="moveToPage('khotabalsayed-ad3eya-ekraa36')" class="home-box"  >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/masaelicon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa36' | translate }} </div>
  </div>
  <div (click)="getlink('khotabalsayed-ad3eya-ekraa37')" (click)="moveToPage('khotabalsayed-ad3eya-ekraa37')" class="home-box"  >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/masaelicon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa37' | translate }} </div>
  </div>
  <div (click)="getlink('khotabalsayed-ad3eya-ekraa38')" (click)="moveToPage('khotabalsayed-ad3eya-ekraa38')" class="home-box"  >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/masaelicon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa38' | translate }} </div>
  </div>
  <div (click)="getlink('khotabalsayed-ad3eya-ekraa39')" (click)="moveToPage('khotabalsayed-ad3eya-ekraa39')" class="home-box"  >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/masaelicon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa39' | translate }} </div>
  </div>
  <div (click)="getlink('khotabalsayed-ad3eya-ekraa40')" (click)="moveToPage('khotabalsayed-ad3eya-ekraa40')" class="home-box"  >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/masaelicon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa40' | translate }} </div>
  </div>
  <div (click)="getlink('khotabalsayed-ad3eya-ekraa41')" (click)="moveToPage('khotabalsayed-ad3eya-ekraa41')" class="home-box"  >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/masaelicon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa41' | translate }} </div>
  </div>
  <div (click)="getlink('khotabalsayed-ad3eya-ekraa42')" (click)="moveToPage('khotabalsayed-ad3eya-ekraa42')" class="home-box"  >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/masaelicon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa42' | translate }} </div>
  </div>
  <div (click)="getlink('khotabalsayed-ad3eya-ekraa43')" (click)="moveToPage('khotabalsayed-ad3eya-ekraa43')" class="home-box"  >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/masaelicon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa43' | translate }} </div>
  </div>
  <div (click)="getlink('khotabalsayed-ad3eya-ekraa44')" (click)="moveToPage('khotabalsayed-ad3eya-ekraa44')" class="home-box"  >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/masaelicon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa44' | translate }} </div>
  </div>
  <div (click)="getlink('khotabalsayed-ad3eya-ekraa45')" (click)="moveToPage('khotabalsayed-ad3eya-ekraa45')" class="home-box"  >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/masaelicon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'jmaa45' | translate }} </div>
  </div>
</ion-content>