<ion-header>
  <ion-toolbar>
    <div class="header-right">
      <img src="\assets/headerimgs/khotab-sayed-top.png" height="70" >
      <hr>
    </div>
    
    <div class="header-middle">
      <img src="\assets/headerimgs/Logo.png"></div>
    <div class="header-left">
        <ion-menu-button autoHide="true" >  <img src="\assets/headerimgs/menu-bulets.png"   height="25"> </ion-menu-button> 
       <label class="page-title">{{ 'jmaa23' | translate }}  </label>
    </div>
    </ion-toolbar>
</ion-header>
<ion-content>
  <div   class="text-content">

<h2>
  ٢٦ جمادي الاولى ١٤١٩
</h2>

<h3>
  دعاء الخطبة الاولى
</h3>  

<p>
  اعوذ بالله من الشيطان اللعين الرجيم توكلت على الله رب العالمين وصلى الله على خير خلقه محمد واله اجمعين.

  بسم الله الرحمن الرحيم
لا اِلهَ اِلاَّ اللَّهُ عَدَدَ رِضاهُ، لا اِلهَ اِلاَّ اللَّهُ عَدَدَ خَلْقِهِ، لا اِلهَ اِلاَّ اللَّهُ عَدَدَ كَلِماتِهِ، لا اِلهَ اِلاَّ اللَّهُ زِنَةَ عَرْشِهِ، لا اِلهَ اِلاَّ اللَّهُ مِلْأَ سَماواتِهِ وَ اَرْضِهِ، لا اِلهَ اِلاَّ اللَّهُ الْحَميدُ الْمَجيدُ الْغَفُورُ الرَّحيمُ، الْمُؤْمِنُ الْمُهَيْمِنُ الْعَزيزُ الْجَبَّارُ الْمُتَكَبِّرُ.
لا اِلهَ اِلاَّ اللَّهُ القابِضُ الْباسِطُ الْعَلِيُّ الْوَفِي ُّ، الْواحِدُ الْاَحَدُ الْفَرْدُ الصَّمَدُ، الْقاهِرُ لِعِبادِهِ الرَّؤُوفُ الرَّحيمُ، لا اِلهَ اِلاَّ اللَّهُ الْاَوَّلُ الْاخِرُ، الظَّاهِرُ الْباطِنُ، الْمُغيثُ الْقَريبُ الْمُجيبُ، لا اِلهَ اِلاَّ اللَّهُ الْغَفُورُ الشَّكُورُ اللَّطيفُ الْخَبيرُ، لا اِلهَ اِلاَّ اللَّهُ الصَّادِقُ الْاَوَّلُ الْعالِمُ الْاَعْلى.
لا اِلهَ اِلاَّ اللَّهُ الطَّالِبُ الْغالِبُ النُّورُ الْجَليلُ، لا اِلهَ اِلاَّ اللَّهُ الْجَميلُ الرَّزَّاقُ الْبَديعُ الْمُبْتَدِعُ، لا اِلهَ اِلاَّ اللَّهُ الصَّمَدُ الدَّيَّانُ الْعَلِيُّ الْاَعْلى، لا اِلهَ اِلاَّ اللَّهُ الْخالِقُ الْكافي الْباقي الْمُعافي، لا اِلهَ اِلاَّ اللَّهُ الْمُعِزُّ الْمُذِلُّ الْفاضِلُ الْجَوادُ الْكَريمُ.
لا اِلهَ اِلاَّ اللَّهُ الدَّافِعُ النَّافِعُ الرَّافِعُ الْواضِعُ، لا اِلهَ اِلاَّ اللَّهُ الْحَنَّانُ الْمَنَّانُ الْباعِثُ الْوارِثُ، لا اِلهَ اِلاَّ اللَّهُ الْقائِمُ الدَّائِمُ الرَّفيعُ الْواسِعُ، لا اِلهَ اِلاَّ اللَّهُ الْغِياثُ الْمُستغيثُ الْمُفْضِلُ الْحَىُّ الَّذي لا يَمُوتُ.
لا اِلهَ اِلاَّ اللَّهُ الْخالِقُ الْبارِى ءُ الْمُصَوِّرُ لَهُ الْاَسْماءُ الْحُسْنى يُسَبِّحُ لَهُ ما فِي السَّماواتِ وَ الْاَرْضِ وَ هُوَ الْعَزيزُ الْحَكيمُ، هُوَ اللَّهُ الْجَبَّارُ في دَيْمُومِيَّتِهِ فَلا شَيْ ءَ يُعادِلُهُ وَ لا يَصِفُهُ وَ لا يُوازيهِ، وَ ليس يُشْبِهُهُ شيء ولَيْسَ كَمِثْلِهِ شَيْ ءٌ وَ هُوَ السَّميعُ الْبَصيرُ اللَّطيفُ الْخَبيرُ.
هُوَ اللَّهُ اَسْرَعُ الْحاسِبينَ وَ اَجْوَدُ الْمُفْضِلينَ الْمُجيبُ دَعْوَةَ الْمُضْطَرّينَ وَ الطَّالِبينَ اِلى وَجْهِهِ الْكَريمِ، اَسْأَلُكَ بِمُنْتَهى كَلِمَاتِكَ التَّامَّةِ وِ بِعِزَّتِكَ وَ قُدْرَتِكَ وَ سُلْطانِكَ وَ جَبَرُوتِك اَنْ تُصَلِّي عَلى مُحَمَّدٍ وَ الِهِ وَ اَنْ تَفْعَلَ بي ما انت اهله ولا تفعل بي ما انا اهله انك ارحم الراحمين وعلى كل شيء قدير.
</p>

<h3>
  دعاء الخطبة الثانية
</h3>

<p>
  اعوذ بالله من الشيطان اللعين الرجيم توكلت على الله رب العالمين وصلى الله على خير خلقه محمد واله اجمعين

  بسم الله الرحمن الرحيم
اَلْحَمْدُ لِلَّهِ بِما حَمِدَ اللَّهَ بِهِ نَفْسُهُ، وَ لا اِلهَ اِلاَّ اللَّهُ بِما هَلَّلَ اللَّهَ بِهِ نَفْسُهُ، وَ سُبْحانَ اللَّهِ بِما سَبَّحَ اللَّهَ بِهِ نَفْسُهُ، وَ اللَّهُ اَكْبَرُ بِما كَبَّرَ اللَّهَ بِهِ نَفْسُهُ.
وَ الْحَمْدُ لِلَّهِ بِما حَمِدَ اللَّهَ بِهِ عَرْشُهُ وَ كُرْسِيُّهُ وَ مَنْ تَحْتَهُ، وَ لا اِلهَ اِلاَّ اللَّهُ بِما هَلَّلَ اللَّهَ بِهِ عَرْشُهُ وَ كُرْسِيُّهُ وَ مَنْ تَحْتَهُ، وَ سُبْحانَ اللَّهِ بِما سَبَّحَ اللَّهَ بِهِ عَرْشُهُ وَ كُرْسِيُّهُ وَ مَنْ تَحْتَهُ، وَ الْحَمْدُ لِلَّهِ بِما حَمِدَ اللَّهَ بِهِ خَلْقُهُ، وَ لا اِلهَ اِلاَّ اللَّهُ بِما هَلَّلَ اللَّهَ بِهِ خَلْقُهُ، وَ سُبْحانَ اللَّهِ بِما سَبَّحَ اللَّهَ بِهِ خَلْقُهُ، وَ اللَّهُ اَكْبَرُ بِما كَبَّرَ اللَّهَ بِهِ خَلْقُهُ.
وَ الْحَمْدُ لِلَّهِ بِما حَمِدَ اللَّهَ بِهِ مَلائِكَتُهُ، وَ سُبْحانَ اللَّهِ بِما سَبَّحَ اللَّهَ بِهِ مَلائِكَتُهُ، وَ اللَّهُ اَكْبَرُ بِما كَبَّرَ اللَّهَ بِهِ مَلائِكَتُهُ.
وَ الْحَمْدُ لِلَّهِ بما حَمِدَ اللَّهَ بِهِ سَماواتُهُ وَ اَرْضُهُ، وَ لا اِلهَ اِلاَّ اللَّهُ بِما هَلَّلَ اللَّهَ بِهِ سَماواتُهُ وَ أَرْضُهُ، وَ سُبْحانَ اللَّهِ بِما سَبَّحَ اللَّهَ بِهِ سَماواتُهُ وَ اَرْضُهُ، وَ اللَّهُ اَكْبَرُ كلما كَبَّرَ اللَّهَ بِهِ سَماواتُهُ وَ أَرْضُهُ.

وَ الْحَمْدُ لِلَّهِ بِما حَمِدَ اللَّهَ بِهِ رَعْدُهُ وَ بَرْقُهُ وَ مَطَرُهُ، وَ لا اِلهَ اِلاَّ اللَّهُ بِما هَلَّلَ اللَّهَ بِهِ رَعْدُهُ وَ بَرْقُهُ وَ مَطَرُهُ، وَ سُبْحانَ اللَّهِ بِما سَبَّحَ اللَّهَ بِهِ رَعْدُهُ وَ بَرْقُهُ وَ مَطَرُهُ، وَ اللَّهُ اَكْبَرُ بِما كَبَّرَ اللَّهَ بِهِ رَعْدُهُ وَ بَرْقُهُ وَ مَطَرُهُ.
وَ الْحَمْدُ لِلَّهِ بِما حَمِدَ اللَّهَ بِهِ كُرْسِيُّهُ وَ كُلُّ شَيْ ءٍ اَحاطَ بِهِ عِلْمُهُ، وَ لا اِلهَ اِلاَّ اللَّهُ بِما هَلَّلَ اللَّهَ بِهِ كُرْسِيُّهُ وَ كُلُّ شَيْ ءٍ اَحاطَ بِهِ عِلْمُهُ، وَ سُبْحانَ اللَّهِ بِما سَبَّحَ اللَّهَ بِهِ كُرْسِيُّهُ وَ كُلُّ شَيْ ءٍ اَحاطَ بِهِ عِلْمُهُ، وَ اللَّهُ اَكْبَرُ بِما كَبَّرَ اللَّهَ بِهِ كُرْسِيُّهُ وَ كُلُّ شَيْ ءٍ اَحاطَ بِهِ عِلْمُهُ.
</p>


</div>
</ion-content>
