<ion-header>
  <ion-toolbar>
    <div class="header-right">
      <img src="\assets/headerimgs/khotab-sayed-top.png" height="70" >
      <hr>
    </div>

    <div class="header-middle">
      <img src="\assets/headerimgs/Logo.png"></div>
    <div class="header-left">
      <ion-menu-button autoHide="true" >  <img src="\assets/headerimgs/menu-bulets.png"   height="25"> </ion-menu-button>
      <label class="page-title"> لقاء الحنانة </label>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div (click)="moveToPage('lekaa-hanana-eqra2-j1')" class="home-box" >
    <div class="home-box-img">
      <img class="icon"  src="\assets/headerimgs/masaelicon.png" width="50" height="45">
    </div>
    <div  class="home-box-title"> لقاء الحنانة ج ( ١ ) </div>
  </div>
  <div (click)="moveToPage('lekaa-hanana-eqra2-j2')" class="home-box" >
    <div class="home-box-img">
      <img class="icon"  src="\assets/headerimgs/masaelicon.png" width="50" height="45">
    </div>
    <div  class="home-box-title">  لقاء الحنانة ج ( ٢ )  </div>
  </div>
  <div (click)="moveToPage('lekaa-hanana-eqra2-j3')"  class="home-box" >
    <div class="home-box-img">
      <img class="icon"  src="\assets/headerimgs/masaelicon.png" width="50" height="45">
    </div>
    <div  class="home-box-title"> لقاء الحنانة ج ( ٣ ) </div>
  </div>
</ion-content>
