<ion-header>
  <ion-toolbar>
    <div class="header-right">
      <img src="\assets/headerimgs/khotab-sayed-top.png" height="70" >
      <hr>
    </div>
    <div class="header-middle">
      <img src="\assets/headerimgs/Logo.png"></div>
    <div class="header-left">
      <ion-menu-button autoHide="true" >  <img src="\assets/headerimgs/menu-bulets.png"   height="25"> </ion-menu-button>
      <label class="page-title"> {{ 'khotabt2' | translate }} </label>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div (click)="moveToPage('al-latmeyat-mp3')" class="home-box"  >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/sawteyat-icon.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'listen' | translate }}</div>
  </div>
  <div (click)="moveToPage('al-latmeyat-mp4')" class="home-box"  >
    <div class="home-box-img">
      <img  src="\assets/headerimgs/mareyat-top.png" width="50" height="55">
    </div>
    <div  class="home-box-title">{{ 'See' | translate }}</div>
  </div>
</ion-content>
